<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title Here</title>




    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/all.min.css" rel="stylesheet">
    <link href="assets/css/fontawesome.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/slick.css" rel="stylesheet">
    <link href="assets/css/default.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>

<body class="ab-page">

    <div class="off-canva">
        <div class="cross">
            <a href="#"><i class="fal fa-times"></i></a>
        </div>
        <div class="offcanva-menu">
            <ul>
                <li><a href="#">COVID tracker</a></li>
                <li><a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" href="#">Experience</a>
                    <div class="exp-sub collapse" id="collapseExample">
                        <div class="single-mega-menu">
                            <h3>Asia</h3>
                            <ul>
                                <li><a href="#">China</a></li>
                                <li><a href="#">Cambodia</a></li>
                                <li><a href="#">Indonesia</a></li>
                                <li><a href="#">Congo</a></li>
                                <li><a href="#">Singapour</a></li>
                                <li><a href="#">Australia</a></li>
                            </ul>
                        </div>
                        <div class="single-mega-menu">
                            <h3>Asia</h3>
                            <ul>
                                <li><a href="#">China</a></li>
                                <li><a href="#">Cambodia</a></li>
                                <li><a href="#">Indonesia</a></li>
                                <li><a href="#">Congo</a></li>
                                <li><a href="#">Singapour</a></li>
                                <li><a href="#">Australia</a></li>
                            </ul>
                        </div>
                        <div class="single-mega-menu">
                            <h3>Asia</h3>
                            <ul>
                                <li><a href="#">China</a></li>
                                <li><a href="#">Cambodia</a></li>
                                <li><a href="#">Indonesia</a></li>
                                <li><a href="#">Congo</a></li>
                                <li><a href="#">Singapour</a></li>
                                <li><a href="#">Australia</a></li>
                            </ul>
                        </div>
                        <div class="single-mega-menu">
                            <h3>Asia</h3>
                            <ul>
                                <li><a href="#">China</a></li>
                                <li><a href="#">Cambodia</a></li>
                                <li><a href="#">Indonesia</a></li>
                                <li><a href="#">Congo</a></li>
                                <li><a href="#">Singapour</a></li>
                                <li><a href="#">Australia</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="overlay"></div>


    <!--    header-area-start-->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-fl">
                        <div class="header-logo">
                            <a href="#"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="mobile-logo">
                            <a href="#"><img src="assets/img/logo.svg" alt=""></a>
                        </div>
                        <div class="header-mobile nnff">
                            <div class="search">
                                <i class="far fa-search"></i>
                            </div>
                            <div class="cart"><i class="fal fa-cart-arrow-down"></i></div>
                            <div class="bar"><i class="fal fa-bars"></i></div>
                        </div>
                        <div class="header-menu">
                            <ul>
                                <li><a href="#">COVID tracker</a></li>
                                <li><a href="#">Experience</a>
                                    <div class="mega-menu">
                                        <div class="mega-menu-fl">
                                            <div class="mega-menu-left">
                                                <div class="single-mega-menu">
                                                    <h3>Asia</h3>
                                                    <ul>
                                                        <li><a href="#">China</a></li>
                                                        <li><a href="#">Cambodia</a></li>
                                                        <li><a href="#">Indonesia</a></li>
                                                        <li><a href="#">Congo</a></li>
                                                        <li><a href="#">Singapour</a></li>
                                                        <li><a href="#">Australia</a></li>
                                                    </ul>
                                                </div>
                                                <div class="single-mega-menu">
                                                    <h3>Asia</h3>
                                                    <ul>
                                                        <li><a href="#">China</a></li>
                                                        <li><a href="#">Cambodia</a></li>
                                                        <li><a href="#">Indonesia</a></li>
                                                        <li><a href="#">Congo</a></li>
                                                        <li><a href="#">Singapour</a></li>
                                                        <li><a href="#">Australia</a></li>
                                                    </ul>
                                                </div>
                                                <div class="single-mega-menu">
                                                    <h3>Asia</h3>
                                                    <ul>
                                                        <li><a href="#">China</a></li>
                                                        <li><a href="#">Cambodia</a></li>
                                                        <li><a href="#">Indonesia</a></li>
                                                        <li><a href="#">Congo</a></li>
                                                        <li><a href="#">Singapour</a></li>
                                                        <li><a href="#">Australia</a></li>
                                                    </ul>
                                                </div>
                                                <div class="single-mega-menu">
                                                    <h3>Asia</h3>
                                                    <ul>
                                                        <li><a href="#">China</a></li>
                                                        <li><a href="#">Cambodia</a></li>
                                                        <li><a href="#">Indonesia</a></li>
                                                        <li><a href="#">Congo</a></li>
                                                        <li><a href="#">Singapour</a></li>
                                                        <li><a href="#">Australia</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mega-menu-ri">
                                                <div class="single-mega-menu">
                                                    <h3>Asia</h3>
                                                    <ul>
                                                        <li><a href="#">China</a></li>
                                                        <li><a href="#">Cambodia</a></li>
                                                        <li><a href="#">Indonesia</a></li>
                                                        <li><a href="#">Congo</a></li>
                                                        <li><a href="#">Singapour</a></li>
                                                        <li><a href="#">Australia</a></li>
                                                    </ul>
                                                </div>
                                                <div class="single-mega-menu">
                                                    <h3></h3>
                                                    <ul>
                                                        <li><a href="#">China</a></li>
                                                        <li><a href="#">Cambodia</a></li>
                                                        <li><a href="#">Indonesia</a></li>
                                                        <li><a href="#">Congo</a></li>
                                                        <li><a href="#">Singapour</a></li>
                                                        <li><a href="#">Australia</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mega-menu-fl2">
                                            <a href="#">Family Volounteering Projects</a>
                                            <a href="#">Group Volounteering Projects</a>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                        <div class="header-icon">
                            <div class="header-single-icon">
                                <a href="#"><i class="fal fa-search"></i></a>
                                <div class="type-area">
                                    <div class="type-input-fl">
                                        <div class="type-input">
                                            <input type="text" placeholder="Type what are you looking for">
                                            <a href="#"></a>
                                        </div>
                                        <button type="submit">Search</button>
                                    </div>
                                    <div class="mega-menu-fl">
                                        <div class="type-mega-left">
                                            <div class="single-mega-menu">
                                                <h3>Asia</h3>
                                                <ul>
                                                    <li><a href="#">China</a></li>
                                                    <li><a href="#">Cambodia</a></li>
                                                    <li><a href="#">Indonesia</a></li>
                                                    <li><a href="#">Congo</a></li>
                                                    <li><a href="#">Singapour</a></li>
                                                    <li><a href="#">Australia</a></li>
                                                </ul>
                                            </div>
                                            <div class="single-mega-menu">
                                                <h3>Asia</h3>
                                                <ul>
                                                    <li><a href="#">China</a></li>
                                                    <li><a href="#">Cambodia</a></li>
                                                    <li><a href="#">Indonesia</a></li>
                                                    <li><a href="#">Congo</a></li>
                                                    <li><a href="#">Singapour</a></li>
                                                    <li><a href="#">Australia</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="type-mega-ri">
                                            <div class="single-feature">
                                                <div class="feature-img">
                                                    <a href="#"><img src="assets/img/icon/fier.png" alt=""></a>
                                                    <img src="assets/img/f1.png" alt="">
                                                </div>
                                                <div class="feature-text">
                                                    <p>Boat adventure down to the Jangcy Riever. Join us and feel Asia.</p>
                                                    <div class="feature-btn">
                                                        <a href="#"><i class="fas fa-map-marker-alt"></i>Vietnam</a>
                                                        <a href="#"><i class="fal fa-calendar-week"></i>2 weeks</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="single-feature">
                                                <div class="feature-img">
                                                    <a href="#"><img src="assets/img/icon/fier.png" alt=""></a>
                                                    <img src="assets/img/f1.png" alt="">
                                                </div>
                                                <div class="feature-text">
                                                    <p>Boat adventure down to the Jangcy Riever. Join us and feel Asia.</p>
                                                    <div class="feature-btn">
                                                        <a href="#"><i class="fas fa-map-marker-alt"></i>Vietnam</a>
                                                        <a href="#"><i class="fal fa-calendar-week"></i>2 weeks</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-single-icon">
                                <a href="#"><img src="assets/img/icon/heart.svg" alt=""></a>
                            </div>
                            <div class="header-single-icon">
                                <a href="#"><img src="assets/img/icon/user.svg" alt=""></a>
                            </div>
                            <div class="header-single-icon">
                                <a href="#"><img src="assets/img/icon/cart.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    header-area-end-->

    <!--abut-hero-area-start-->

    <div class="about-hgero-area" style="background-image: url(assets/img/about-hero.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="abt-actv">
                        <div class="about-hero">
                            <div class="about-hero-active">
                                <div class="about-hero-single">
                                    <h3>Who we are</h3>
                                    <p>Let us bring you to unique places <br> and create unique memories.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about-hero">
                            <div class="about-hero-active">
                                <div class="about-hero-single">
                                    <h3>Who we are</h3>
                                    <p>Let us bring you to unique places <br> and create unique memories.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about-hero">
                            <div class="about-hero-active">
                                <div class="about-hero-single">
                                    <h3>Who we are</h3>
                                    <p>Let us bring you to unique places <br> and create unique memories.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--abut-hero-area-end-->


    <!--value-area-start-->
    <div class="value-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="value-title">
                        <h3>Our values</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="our-value-fl">
                        <div class="value-left">
                            <div class="single-valeu">
                                <div class="single-value-title">
                                    <h3><img src="assets/img/icon/v1.png" alt="">Sustainability</h3>
                                </div>
                                <div class="single-value-text">
                                    <p>Ensuring Tourism has a sustainability focus including animal and environmental conservation.</p>
                                </div>
                            </div>
                            <div class="single-valeu">
                                <div class="single-value-title">
                                    <h3><img src="assets/img/icon/v1.png" alt="">Sustainability</h3>
                                </div>
                                <div class="single-value-text">
                                    <p>Ensuring Tourism has a sustainability focus including animal and environmental conservation.</p>
                                </div>
                            </div>
                            <div class="single-valeu">
                                <div class="single-value-title">
                                    <h3><img src="assets/img/icon/v1.png" alt="">Sustainability</h3>
                                </div>
                                <div class="single-value-text">
                                    <p>Ensuring Tourism has a sustainability focus including animal and environmental conservation.</p>
                                </div>
                            </div>
                            <div class="single-valeu">
                                <div class="single-value-title">
                                    <h3><img src="assets/img/icon/v1.png" alt="">Sustainability</h3>
                                </div>
                                <div class="single-value-text">
                                    <p>Ensuring Tourism has a sustainability focus including animal and environmental conservation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="value-ri">
                            <div class="value-img">
                                <img src="assets/img/value-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--value-area-end-->

    <!--    impact-area-start-->
    <div class="impact-area">
        <img src="assets/img/impact-bg.png" class="impact-bg" alt="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="impact-title">
                        <h3>Our impact</h3>
                        <p>Our goal at WhereNext Experiences is to provide travel experiences that support long term sustainability within the communities that we visit. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="impact-slider">
                        <div class="single-impact">
                            <img src="assets/img/impact-img.png" alt="">
                        </div>
                        <div class="single-impact">
                            <img src="assets/img/impact-img.png" alt="">
                        </div>
                        <div class="single-impact">
                            <img src="assets/img/impact-img.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="impact-text">
                        <p>The suppliers we work with are carefully selected to ensure environmental and animal protection. Each experience we provide details the impact to local communities and the environment.</p>
                        <p>Tourism is a fundamental part of many developing countries and has been decimated in the pandemic. There are a number of charities and organisations that we support to further these initiatives. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    impact-area-end-->


    <!--   plas-mobile-area-start-->


    <div class="pladmobile">
        <div class="container">
            <div class="pl-wp">
                <div class="single-plad plad-wd">
                    <div class="plad-img">
                        <img src="assets/img/p1.png" alt="">
                    </div>
                    <div class="plad-text">
                        <p>Pledge 1% is a corporate philanthropy movement dedicated to making the community a key stakeholder in every business. Pledge 1% encourages and challenges individuals and companies to pledge 1% of equity, product, and employee time for their communities.</p>
                    </div>
                    <div class="plad-btn">
                        <a href="#">Read more<i class="fal fa-long-arrow-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="pl-wp">
                <div class="single-plad plad-wd">
                    <div class="plad-img">
                        <img src="assets/img/p1.png" alt="">
                    </div>
                    <div class="plad-text">
                        <p>Pledge 1% is a corporate philanthropy movement dedicated to making the community a key stakeholder in every business. Pledge 1% encourages and challenges individuals and companies to pledge 1% of equity, product, and employee time for their communities.

                        </p>
                    </div>
                    <div class="plad-btn">
                        <a href="#">Read more<i class="fal fa-long-arrow-down"></i></a>
                    </div>
                </div>
            </div>
            <div class="pl-wp">
                <div class="single-plad plad-wd">
                    <div class="plad-img">
                        <img src="assets/img/m2.png" alt="">
                    </div>
                    <div class="plad-text">
                        <p>Kiva is a 501 non-profit organization headquartered in San Francisco, California that allows people to lend money via the Internet to low-income entrepreneurs and students in 77 countries. Kiva's mission is "to expand financial access to help underserved communities thrive.</p>
                    </div>
                    <div class="plad-btn">
                        <a href="#">Read more<i class="fal fa-long-arrow-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--   plas-mobile-area-end-->





    <!--    plad-area-start-->
    <div class="plad-area plas-nn">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="plad-title">
                        <h3>We support various charitable initiatives including:</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="plad-slider">
                        <div class="pl-wp">
                            <div class="single-plad plad-wd">
                                <div class="plad-img">
                                    <img src="assets/img/p1.png" alt="">
                                </div>
                                <div class="plad-text">
                                    <p>Pledge 1% is a corporate philanthropy movement dedicated to making the community a key stakeholder in every business. Pledge 1% encourages and challenges individuals and companies to pledge 1% of equity, product, and employee time for their communities.</p>
                                </div>
                                <div class="plad-btn">
                                    <a href="#">Read more<i class="fal fa-long-arrow-down"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="pl-wp">
                            <div class="single-plad plad-wd">
                                <div class="plad-img">
                                    <img src="assets/img/p1.png" alt="">
                                </div>
                                <div class="plad-text">
                                    <p>Pledge 1% is a corporate philanthropy movement dedicated to making the community a key stakeholder in every business. Pledge 1% encourages and challenges individuals and companies to pledge 1% of equity, product, and employee time for their communities.

                                    </p>
                                </div>
                                <div class="plad-btn">
                                    <a href="#">Read more<i class="fal fa-long-arrow-down"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="pl-wp">
                            <div class="single-plad plad-wd">
                                <div class="plad-img">
                                    <img src="assets/img/m2.png" alt="">
                                </div>
                                <div class="plad-text">
                                    <p>Kiva is a 501 non-profit organization headquartered in San Francisco, California that allows people to lend money via the Internet to low-income entrepreneurs and students in 77 countries. Kiva's mission is "to expand financial access to help underserved communities thrive.</p>
                                </div>
                                <div class="plad-btn">
                                    <a href="#">Read more<i class="fal fa-long-arrow-down"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="pl-wp">
                            <div class="single-plad plad-wd">
                                <div class="plad-img ttr">
                                    <img src="assets/img/m1.png" alt="">
                                </div>
                                <div class="plad-text">
                                    <p>One Tree Planted is a 501 charity with a mission to help global reforestation efforts. <br><br>

                                        The organization is built on a network of individuals, businesses, and schools who either donate monetarily or volunteer to help plant trees around the world.</p>
                                </div>
                                <div class="plad-btn">
                                    <a href="#">Read more<i class="fal fa-long-arrow-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    plad-area-end-->

    <!--    our-story-area-start-->
    <div class="our-story-area pbb sto-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="our-area pbb">
                        <div class="our-slider-containt cc our lst">
                            <h3>Our story</h3>
                            <p>I was working at Salesforce.com who provides seven days of volunteer time off as part of their commitment to the Pledge 1% organisation. These volunteer days can be used for various local or global initiatives and we have been involved in many different projects including beach clean ups, food banks and helping disadvantaged children.</p>
                            <p class="ss1" style="text-transform: uppercase">Whilst working in the Singapore office a group of us went to Nepal in 2019 to renovate a sanctuary for disadvantaged children affected by human trafficking between Nepal and India. Before the trip to Nepal we also raised around US$50k to donate to NGO’s in the region. </p>
                        </div>
                        <div class="our-slider2">
                            <div class="single-silder-img">
                                <img src="assets/img/os2.png" alt="">
                            </div>
                        </div>
                        <div class="sli-mo-tx">
                            <p>Whilst working in the Singapore office a group of us went to Nepal in 2019 to renovate a sanctuary for disadvantaged children affected by human trafficking between Nepal and India. Before the trip to Nepal we also raised around US$50k to donate to NGO’s in the region. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ous">
                        <p>Another memorable experience was <span>volunteering</span> <span>with the Pandas</span> at the Bifengxia Giant Panda Base in Bifengxia Town, Ya'an, Sichuan, China.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    our-story-area-end-->

    <!--    panda-area-start-->
    <div class="panda-area" style="background-image: url(assets/img/panda-bg.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panda-text">
                        <p>This bucket list experience provided funds for Panda research and local economic development. It was an unforgettable experience in rural China working with these beautiful creatures. </p>
                        <p>The idea was born to combine my love of travel with animal conservation and sustainable tourism and build a values based company taking inspiration from Salesforce.com and other companies such as Patagonia that prove that companies can provide a positive impact in the world. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    panda-area-end-->

    <div class="pada-mobile-tx">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panda-mobi">
                        <p>The idea was born to combine my love of travel with animal conservation and sustainable tourism and build a values based company taking inspiration from Salesforce.com and other companies such as Patagonia that prove that companies can provide a positive impact in the world.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--    then-area-start-->
    <div class="then-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="then-text jfa">
                        <h3>Then <span>pandemic</span></h3>
                        <p>hit in 2020 and whilst it may have seemed like a crazy time to start a travel company there is an even greater need to provide impactful travel experiences that are sustainable for the many communities that have been devastated by the border closures and reliance on tourism. </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="then-img">
                        <img src="assets/img/then-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    then-area-end-->

    <!--    .join-area-start-->
    <div class="join-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="join-fl">
                        <div class="join-sp">
                            <img src="assets/img/ftr-tp-sp.png" alt="">
                        </div>
                        <div class="join-left">
                            <h3>Join us on our journey. <br> <span>Experience</span> more.</h3>
                            <p>Join our newsletter to stay up to date. <br> No spam, ever.</p>
                        </div>
                        <div class="join-ri">
                            <h3>Let’s stay in touch! Let’’s begin the adventure.</h3>
                            <div class="join-input">
                                <input type="email" placeholder="Your e-mail">
                                <button type="submit">Subscribe</button>
                            </div>
                            <div class="join-check">
                                <label class="containers">Terms & Privacy Policy
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    .join-area-end-->


    <!--footer-area-start-->
    <div class="footer-area">
        <div class="footer-sp">
            <img src="assets/img/footer.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-fl">
                        <div class="single-footer">
                            <h3>Where Next <img src="assets/img/logo.svg" alt=""></h3>
                            <div class="fiiter-list-ll">
                                <p>We are lorem ipsum dolor sit amet lorem ipsum </p>
                                <a href="#">contact@wherenext.to</a>
                            </div>
                            <div class="footer-socail">
                                <p>Let’s chat:</p>
                                <a href="#"><img src="assets/img/icon/massenger.svg" alt=""></a>
                                <a href="#"><img src="assets/img/icon/whatsapp.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="footer-mbl">
                            <div class="single-footer bbl">
                                <h3>For business</h3>
                                <div class="footer-list">
                                    <ul>
                                        <li><a href="#">Plesge 1 percent</a></li>
                                        <li><a href="#">Kiva</a></li>
                                        <li><a href="#">One Tree Planted</a></li>
                                        <li><a href="#">1% for the planet</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-footer bbl">
                                <h3>Your needs</h3>
                                <div class="footer-list">
                                    <ul>
                                        <li><a href="#">Plesge 1 percent</a></li>
                                        <li><a href="#">Kiva</a></li>
                                        <li><a href="#">One Tree Planted</a></li>
                                        <li><a href="#">1% for the planet</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-footer tty">
                            <h3>For business</h3>
                            <div class="footer-list">
                                <ul>
                                    <li><a href="#">Plesge 1 percent</a></li>
                                    <li><a href="#">Kiva</a></li>
                                    <li><a href="#">One Tree Planted</a></li>
                                    <li><a href="#">1% for the planet</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-footer tty">
                            <h3>Your needs</h3>
                            <div class="footer-list">
                                <ul>
                                    <li><a href="#">Plesge 1 percent</a></li>
                                    <li><a href="#">Kiva</a></li>
                                    <li><a href="#">One Tree Planted</a></li>
                                    <li><a href="#">1% for the planet</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-footer">
                            <h3>Our partners</h3>
                            <div class="footer-list">
                                <ul>
                                    <li><a href="#">Plesge 1 percent</a></li>
                                    <li><a href="#">Kiva</a></li>
                                    <li><a href="#">One Tree Planted</a></li>
                                    <li><a href="#">1% for the planet</a></li>
                                </ul>
                            </div>
                            <div class="footer-logos">
                                <a href="#"><img src="assets/img/icon/ATAS%20logo.svg" alt=""></a>
                                <a href="#"><img src="assets/img/icon/sil.svg" alt=""></a>
                                <a href="#"><img src="assets/img/icon/afta-logo.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-fl">
                        <div class="footer-soc soc-mbl">
                            <a href="#"><img src="assets/img/icon/facebook.svg" alt=""></a>
                            <a href="#"><img src="assets/img/icon/instagram.svg" alt=""></a>
                            <a href="#"><img src="assets/img/icon/tweter.svg" alt=""></a>
                            <a href="#"><img src="assets/img/icon/linkedin.svg" alt=""></a>
                        </div>
                        <p>Terms and conditions | Privacy Policy</p>
                        <p>© Copyright 2021 WhereNext Travel Experiences Pte. Ltd. </p>
                        <div class="footer-soc">
                            <a href="#"><img src="assets/img/icon/facebook.svg" alt=""></a>
                            <a href="#"><img src="assets/img/icon/instagram.svg" alt=""></a>
                            <a href="#"><img src="assets/img/icon/tweter.svg" alt=""></a>
                            <a href="#"><img src="assets/img/icon/linkedin.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-area-end-->




    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/Popper.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script>
        $('.abt-actv, .impact-slider').slick({
            dots: true,
            infinite: true,
            arrows: true,
            prevArrow: '<button class="left"> <img src="assets/img/icon/awrro-slider-left.svg" alt=""></button>',
            nextArrow: '<button class="right"> <img src="assets/img/icon/awrro-slider-right.svg" alt=""></button>',
            speed: 300,
            slidesToShow: 1,
            slidesToScroll: 1,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });

    </script>

    <script>
        $('.plad-slider').slick({
            dots: true,
            infinite: true,
            arrows: true,
            prevArrow: '<button class="left"> <img src="assets/img/icon/awrro-slider-left2.svg" alt=""></button>',
            nextArrow: '<button class="right"> <img src="assets/img/icon/awrro-slider-right2.svg" alt=""></button>',
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });

    </script>
    <script>
        //  offcanvas-menu

        //    click-action
        $(".bar").on("click", function() {
            $(".off-canva, .overlay").addClass("active");
            return false;
        });

        $(".cross").on("click", function() {
            $(".off-canva, .overlay").removeClass("active");
        });

        $(".overlay").on("click", function() {
            $(".off-canva, .overlay").removeClass("active");
        });

    </script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>



</body>

</html>
