$phone: 600px;
$tablet: 900px;
$desktop: 1200px;

.edit-profile-modal-container {
  border-radius: 20px;
  .edit-modal-header {
    position: relative;
    border: none;
    border-color: transparent;
    justify-content: center;
    padding-top: 50px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 44px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    .modal-title {
      font-size: 32px !important;
      font-weight: 600;
    }
    .modal-close-btn {
      position: absolute;
      right: 25px;
      top: 25px;
      cursor: pointer;
    }
  }
  .edit-profile-modal-body {
    padding: 10px 90px;
    .profile-form-container {
      .modal-section-header {
        color: #1d293f;
        font-family: 'Manrope', sans-serif;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 24px;
        text-align: center;
        margin: 0px 0px 25px 0px;
      }

      button.sk-form-add-button {
        background-color: transparent;
        background: transparent;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #1d293f;
        font-family: 'Manrope', sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 22px;
        margin-bottom: 30px;
        .sk-form-add-button-icon {
          background-color: #1f3c88;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          margin-right: 20px;
          svg {
            color: #fff;
          }
        }
      }
    }
  }

  .edit-profile-form-submit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    button {
      width: 40%;
      padding: 25px 0px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 22px;
      text-align: center;
      border-radius: 5px;
      background: linear-gradient(90deg, #ee6f57 0%, #f52a04 100%);
      border: none;
      outline: none;
      &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }
  }
  .forgot-password-button {
    background-color: transparent;
    background: transparent;
    border: none;
    outline: none;
    color: #ee6f57;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 19px;
  }
}

@media (max-width: $tablet) {
  .edit-profile-modal-container {
    .edit-profile-modal-body {
      padding: 10px 25px;
    }
  }
}

@media (max-width: $phone) {
  .edit-profile-modal-container {
    .edit-modal-header {
      padding-top: 30px !important;
      .modal-title {
        font-size: 28px !important;
        max-width: 75%;
      }
      .modal-close-btn {
        right: 25px !important;
        top: 27px !important;
      }
    }
    .edit-profile-modal-body {
      padding: 10px 25px;
    }
    .edit-profile-form-submit {
      button {
        padding: 15px 0px;
      }
    }
  }
}
