<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title Here</title>



    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/all.min.css" rel="stylesheet">
    <link href="assets/css/fontawesome.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/default.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>

<body class="container-wd">

    <div class="offcanva">
        <div class="cross">
            <a href="#"><i class="fal fa-times"></i></a>
        </div>
        <div class="offcanva-menu">
            <ul>
                <li><a href="#">Startup kit</a>
                </li>
                <li><a href="#">Funding</a></li>
                <li><a href="#">Network</a></li>
                <li><a href="#">Programs</a></li>
                <li><a href="#">Apply for Elevate</a></li>
            </ul>
        </div>
    </div>
    <div class="overlay"></div>


    <!--    header-area-start-->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-fl">
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="header-bar ttyr">
                            <a href="#"><img src="assets/img/bar.png" alt=""></a>
                        </div>
                        <div class="header-menu evem-header-menu">
                            <ul>
                                <li><a href="#">Startup kit <i class="fal fa-angle-down"></i></a>
                                </li>
                                <li><a href="#">Funding<i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Network<i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Programs<i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Apply for Elevate<i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                            <div class="header-btn">
                                <a href="#" class="theme-btn">Register/Login</a>
                            </div>
                            <div class="header-bar">
                                <a href="#"><img src="assets/img/bar.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    header-area-end-->

    <!-- flip-area-start -->

    <div class="flip-area" style="background-image: url(assets/img/about-faq/hero.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="flip-wrap">
                        <div class="flip-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Network</a></li>
                                <li><a href="#">Webinar on Startup business management</a></li>
                            </ul>
                        </div>
                        <div class="flip-content about-content content-3">
                            <h2>FAQ’s</h2>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- flip-area-end -->


<!-- general-area-start -->

    <div class="general-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="general-menu">
                        <nav>
                            <div class="tab-wd">
                                <div class="nav general-tabs" id="nav-tab" role="tablist">
                                    <a class="general-item general-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">General</a>
                                    <a class="general-item general-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Startups</a>
                                    <a class="general-item general-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Investors</a>
                                    <a class="general-item general-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact1" role="tab" aria-controls="nav-contact" aria-selected="false">Incubators</a>
                                    <a class="general-item general-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact2" role="tab" aria-controls="nav-contact" aria-selected="false">Mentors</a>
                                    <a class="general-item general-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact3" role="tab" aria-controls="nav-contact" aria-selected="false">Partners</a>
                                    <a class="general-item general-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact4" role="tab" aria-controls="nav-contact" aria-selected="false">Institutes</a>
                                  </div>
                            </div>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- general-area-end -->


<!-- general-clps-area-start -->

    <div class="general-clps">
        <div class="container">
            <div class="general-clps-bg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="general-clps-wrap">
                                    <div id="accordion">
                                        <div class="card">
                                          <div class="clps-header" id="headingOne">
                                            <h5 class="mb-0">
                                              <button class="clps-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt?
                                                <span><i class="fal fa-angle-down"></i></span>
                                              </button>
                                            </h5>
                                          </div>
                                      
                                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit sed ullamcorper morbi tincidunt ornare massa. Commodo odio aenean sed adipiscing diam. Euismod quis viverra nibh cras pulvinar mattis. Risus commodo viverra maecenas accumsan lacus vel 
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="clps-header" id="headingTwo">
                                            <h5 class="mb-0">
                                              <button class="btn clps-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt?
                                                <span><i class="fal fa-angle-down"></i></span>
                                              </button>
                                            </h5>
                                          </div>
                                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit sed ullamcorper morbi tincidunt ornare massa. Commodo odio aenean sed adipiscing diam. Euismod quis viverra nibh cras pulvinar mattis. Risus commodo viverra maecenas accumsan lacus vel 
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="clps-header" id="headingThree">
                                            <h5 class="mb-0">
                                              <button class="btn clps-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                                                <span><i class="fal fa-angle-down"></i></span>
                                              </button>
                                            </h5>
                                          </div>
                                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit sed ullamcorper morbi tincidunt ornare massa. Commodo odio aenean sed adipiscing diam. Euismod quis viverra nibh cras pulvinar mattis. Risus commodo viverra maecenas accumsan lacus vel 
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="clps-header" id="headingThree">
                                            <h5 class="mb-0">
                                              <button class="btn clps-link collapsed" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                                                <span><i class="fal fa-angle-down"></i></span>
                                              </button>
                                            </h5>
                                          </div>
                                          <div id="collapseThree1" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit sed ullamcorper morbi tincidunt ornare massa. Commodo odio aenean sed adipiscing diam. Euismod quis viverra nibh cras pulvinar mattis. Risus commodo viverra maecenas accumsan lacus vel 
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="clps-header" id="headingThree">
                                            <h5 class="mb-0">
                                              <button class="btn clps-link collapsed" data-toggle="collapse" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree1">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                                                <span><i class="fal fa-angle-down"></i></span>
                                              </button>
                                            </h5>
                                          </div>
                                          <div id="collapseThree2" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit sed ullamcorper morbi tincidunt ornare massa. Commodo odio aenean sed adipiscing diam. Euismod quis viverra nibh cras pulvinar mattis. Risus commodo viverra maecenas accumsan lacus vel 
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="clps-header" id="headingThree">
                                            <h5 class="mb-0">
                                              <button class="btn clps-link collapsed" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree1">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                                                <span><i class="fal fa-angle-down"></i></span>
                                              </button>
                                            </h5>
                                          </div>
                                          <div id="collapseThree3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit sed ullamcorper morbi tincidunt ornare massa. Commodo odio aenean sed adipiscing diam. Euismod quis viverra nibh cras pulvinar mattis. Risus commodo viverra maecenas accumsan lacus vel 
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="clps-header" id="headingThree">
                                            <h5 class="mb-0">
                                              <button class="btn clps-link collapsed" data-toggle="collapse" data-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree1">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                                                <span><i class="fal fa-angle-down"></i></span>
                                              </button>
                                            </h5>
                                          </div>
                                          <div id="collapseThree4" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit sed ullamcorper morbi tincidunt ornare massa. Commodo odio aenean sed adipiscing diam. Euismod quis viverra nibh cras pulvinar mattis. Risus commodo viverra maecenas accumsan lacus vel 
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card">
                                          <div class="clps-header" id="headingThree">
                                            <h5 class="mb-0">
                                              <button class="btn clps-link collapsed" data-toggle="collapse" data-target="#collapseThree5" aria-expanded="false" aria-controls="collapseThree1">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                                                <span><i class="fal fa-angle-down"></i></span>
                                              </button>
                                            </h5>
                                          </div>
                                          <div id="collapseThree5" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-text">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit sed ullamcorper morbi tincidunt ornare massa. Commodo odio aenean sed adipiscing diam. Euismod quis viverra nibh cras pulvinar mattis. Risus commodo viverra maecenas accumsan lacus vel 
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>


                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                            <div class="tab-pane fade" id="nav-contact1" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                            <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                            <div class="tab-pane fade" id="nav-contact3" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                            <div class="tab-pane fade" id="nav-contact4" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- general-clps-area-end -->



    <!-- footer-area-start -->

    <div class="footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="#"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="footer-list-fx">
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Get started</a></li>
                                            <li><a href="#">Booster kit</a></li>
                                            <li><a href="#">Karnataka Startup cell</a></li>
                                            <li><a href="#">K-Tech hub</a></li>
                                            <li><a href="#">IP Facilitation</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Programs</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Elevate</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Startups</a></li>
                                            <li><a href="#" Incubators></a></li>
                                            <li><a href="#">Investors</a></li>
                                            <li><a href="#">Mentors</a></li>
                                            <li><a href="#">Our partners</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Media</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">News & Events</a></li>
                                            <li><a href="#">Gallery</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Policies & Schemes</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Karnataka Startup Policy</a></li>
                                            <li><a href="#">Operational Guidelines</a></li>
                                            <li><a href="#">Self Certification</a></li>
                                            <li><a href="#">Other Govt Schemes</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Grievances</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Raise Complaint</a></li>
                                            <li><a href="#">Status Check</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>About us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About StartupKarnataka</a></li>
                                            <li><a href="#">Success Stories</a></li>
                                            <li><a href="#">Vision Group</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Funding</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About K-Startup Funding</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Head office</p>
                                    <div class="list uut">
                                        <ul>
                                            <li><a href="#">BMTC – Central Offices Building,</a></li>
                                            <li><a href="#">TTMC ‘B’ Block, 4th Floor,</a></li>
                                            <li><a href="#">Shanthinagar,KH Road,</a></li>
                                            <li><a href="#">Bengaluru 560 027</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Email us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">startupcell@karnataka.gov.in</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Connect now</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">080-22632626 , +91-80-22231007</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Timings</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">10 am - 7 pm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right-wrap">
                        <div class="copy-right-left">
                            <div class="copy-right-text">
                                <p>© KITS 2021, All Rights Reserved</p>
                            </div>
                            <div class="copyright-menu">
                                <ul>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Total Views : <span>65,3461</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="copy-right-icon">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer-area-end -->

    <!-- modal-area-style-start -->

    <div class="startuo-modal">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>
                    <div class="modal-body">
                        <div class="start-modal-wrap">
                            <div class="product-title start-modal">
                                <h3>Products and services</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut</p>
                            </div>
                            <div class="modal-form">
                                <div class="single-form">
                                    <label for="#">Company Name*</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">full name *</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">Email *</label>
                                    <input type="Email" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">Mobile number *</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="modal-contact-btn">
                                    <button>Submit Request<i class="fal fa-long-arrow-right"></i></button>
                                </div>
                                <div class="privicy-text">
                                    <p>By clicking on submit request you agree to our <a href="#">Terms & Conditions</a>
                                        and accordance with our <a href="#">Privacy Policy</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal-area-style-end -->






    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/Popper.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.nice-select.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script>
        $('select').niceSelect();
    </script>
    <script src="assets/js/main.js"></script>



</body>

</html>