<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title Here</title>



    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/all.min.css" rel="stylesheet">
    <link href="assets/css/fontawesome.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/default.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>

<body class="container-wd">

    <div class="offcanva">
        <div class="cross">
            <a href="#"><i class="fal fa-times"></i></a>
        </div>
        <div class="offcanva-menu">
            <ul>
                <li><a href="#">Startup kit</a>
                </li>
                <li><a href="#">Funding</a></li>
                <li><a href="#">Network</a></li>
                <li><a href="#">Programs</a></li>
                <li><a href="#">Apply for Elevate</a></li>
            </ul>
        </div>
    </div>
    <div class="overlay"></div>


    <!--    header-area-start-->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-fl">
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="header-bar ttyr">
                            <a href="#"><img src="assets/img/bar.png" alt=""></a>
                        </div>
                        <div class="header-menu evem-header-menu">
                            <ul>
                                <li><a href="#">Startup kit <i class="fal fa-angle-down"></i></a>
                                </li>
                                <li><a href="#">Funding<i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Network<i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Programs<i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Apply for Elevate<i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                            <div class="header-btn">
                                <a href="#" class="theme-btn">Register/Login</a>
                            </div>
                            <div class="header-bar">
                                <a href="#"><img src="assets/img/bar.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    header-area-end-->

    <!-- flip-area-start -->

    <div class="flip-area" style="background-image: url(assets/img/ab-v/hero.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="flip-wrap">
                        <div class="flip-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Network</a></li>
                                <li><a href="#">Webinar on Startup business management</a></li>
                            </ul>
                        </div>
                        <div class="flip-content about-content content-3">
                            <h2>Leadership & Teams</h2>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- flip-area-end -->


    <!-- our-story-area-start -->

        <div class="our-story our-tory-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="our-story-wrap coun-wrap">
                            <span>Our Council</span>
                            <h5>Startup council</h5>
                            <p>Karnataka has become the first state to have a dedicated under startup council the Chairmanship of Hon’ble Chief Minister, Government of Karnataka. The startup council works on the Karnataka Startup Policy to provide easy clearances, besides having a dedicated set of officials to deal with needs of emerging businesses. The Council shall review the status report on the implementation of the policy, which would include an appraisal of usefulness, ease of implementation and outcomes of the policy, commissioned every year by the implementing Departments and take necessary decisions for improving the implementation. The council shall meet at least once a year</p>
                        </div>
                    </div>
                    <div class="col-lg-6 order-first order-lg-last">
                        <div class="counc-inner">
                            <div class="counc-inner">
                                <img src="assets/img/ab-v/c1.png" alt="">
                            </div>
                            <div class="coun-fl">
                                <div class="coun-actv owl-carousel">
                                    <div class="coun-content">
                                        <p>“ We chose Startup Karnataka as it has great support service and our values are in line to support our customers and become creative everyday.”</p>
                                        <span>Seokaos - Anusha, Member of IT Department </span>
                                    </div>
                                    <div class="coun-content">
                                        <p>“ We chose Startup Karnataka as it has great support service and our values are in line to support our customers and become creative everyday.”</p>
                                        <span>Seokaos - Anusha, Member of IT Department </span>
                                    </div>
                                    <div class="coun-content">
                                        <p>“ We chose Startup Karnataka as it has great support service and our values are in line to support our customers and become creative everyday.”</p>
                                        <span>Seokaos - Anusha, Member of IT Department </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- our-story-area-end -->

<!-- sucess-area-start -->

        <div class="suces-area sucess-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-title sucess-title">
                            <a href="#">Karnataka Startups</a>
                            <h3>Our success stories</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-menu">
                            <div class="tab-active">
                                <ul class="nav mnu-tabs" id="myTab" role="tablist">
                                    <li class="mnu-item">
                                      <a class="mnu-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All</a>
                                    </li>
                                    <li class="mnu-item">
                                      <a class="mnu-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Startup Council</a>
                                    </li>
                                    <li class="mnu-item">
                                      <a class="mnu-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Convener</a>
                                      </li>>

                                     <li> <a class="mnu-link" id="contact-tab1" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact" aria-selected="false">Academic Members</a></li>

                                      <li><a class="mnu-link" id="contact-tab2" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Industry Members</a></li>

                                      <li><a class="mnu-link" id="contact-tab3" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Monitoring Members</a></li>
                                      <li>
                                      <a class="mnu-link" id="contact-tab4" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Biotechnology</a>
                                    </li>
                                  </ul>
                                  <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="profi-area">
                                            <div class="conteiner">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p1.png" alt="">
                                                            <h5>Mr. S Gopalkrishnan (Kris)</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p2.png" alt="">
                                                            <h5>Dr E.V Ramana Reddy, IAS</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p3.png" alt="">
                                                            <h5>Mr.Vijay Ratnaparkhe</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p4.png" alt="">
                                                            <h5>Shri Krishnakumar Natarajan</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p5.png" alt="">
                                                            <h5>Mr.M.N.Vidyashankar</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p6.png" alt="">
                                                            <h5>Shri P.K Das</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p7.png" alt="">
                                                            <h5>Shri.R.Chandrasekaran</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p8.png" alt="">
                                                            <h5>Prof.Sadgopan</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p9.png" alt="">
                                                            <h5>Mr.T.K. Kurien</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p10.png" alt="">
                                                            <h5>Mr.Pravin Rao</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p11.png" alt="">
                                                            <h5>Dr.H. Maheshappa</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p12.png" alt="">
                                                            <h5>Prof.Swapan Bhattacharya</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p13.png" alt="">
                                                            <h5>Mr. Sharad Sharma</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p14.png" alt="">
                                                            <h5>Mr.B.V. Naidu</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p15.png" alt="">
                                                            <h5>Mr.Naganand Doraswamy</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4">
                                                        <div class="profi-wp">
                                                            <img src="assets/img/ab-v/p16.png" alt="">
                                                            <h5>Mr.Bhaskar Pramanik</h5>
                                                            <p>Co-Founder & Ex-Executive Vice Chairman, Infosys Ltd</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                                    <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab">...</div>
                                    <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab">...</div>
                                    <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab">...</div>
                                    <div class="tab-pane fade" id="contact4" role="tabpanel" aria-labelledby="contact-tab">...</div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- sucess-area-end -->





    <!-- footer-area-start -->

    <div class="footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="#"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="footer-list-fx">
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Get started</a></li>
                                            <li><a href="#">Booster kit</a></li>
                                            <li><a href="#">Karnataka Startup cell</a></li>
                                            <li><a href="#">K-Tech hub</a></li>
                                            <li><a href="#">IP Facilitation</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Programs</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Elevate</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Startups</a></li>
                                            <li><a href="#" Incubators></a></li>
                                            <li><a href="#">Investors</a></li>
                                            <li><a href="#">Mentors</a></li>
                                            <li><a href="#">Our partners</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Media</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">News & Events</a></li>
                                            <li><a href="#">Gallery</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Policies & Schemes</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Karnataka Startup Policy</a></li>
                                            <li><a href="#">Operational Guidelines</a></li>
                                            <li><a href="#">Self Certification</a></li>
                                            <li><a href="#">Other Govt Schemes</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Grievances</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Raise Complaint</a></li>
                                            <li><a href="#">Status Check</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>About us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About StartupKarnataka</a></li>
                                            <li><a href="#">Success Stories</a></li>
                                            <li><a href="#">Vision Group</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Funding</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About K-Startup Funding</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Head office</p>
                                    <div class="list uut">
                                        <ul>
                                            <li><a href="#">BMTC – Central Offices Building,</a></li>
                                            <li><a href="#">TTMC ‘B’ Block, 4th Floor,</a></li>
                                            <li><a href="#">Shanthinagar,KH Road,</a></li>
                                            <li><a href="#">Bengaluru 560 027</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Email us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">startupcell@karnataka.gov.in</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Connect now</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">080-22632626 , +91-80-22231007</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Timings</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">10 am - 7 pm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right-wrap">
                        <div class="copy-right-left">
                            <div class="copy-right-text">
                                <p>© KITS 2021, All Rights Reserved</p>
                            </div>
                            <div class="copyright-menu">
                                <ul>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Total Views : <span>65,3461</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="copy-right-icon">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer-area-end -->

    <!-- modal-area-style-start -->

    <div class="startuo-modal">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>
                    <div class="modal-body">
                        <div class="start-modal-wrap">
                            <div class="product-title start-modal">
                                <h3>Products and services</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut</p>
                            </div>
                            <div class="modal-form">
                                <div class="single-form">
                                    <label for="#">Company Name*</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">full name *</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">Email *</label>
                                    <input type="Email" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">Mobile number *</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="modal-contact-btn">
                                    <button>Submit Request<i class="fal fa-long-arrow-right"></i></button>
                                </div>
                                <div class="privicy-text">
                                    <p>By clicking on submit request you agree to our <a href="#">Terms & Conditions</a>
                                        and accordance with our <a href="#">Privacy Policy</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal-area-style-end -->






    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/Popper.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.nice-select.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script>
        $('select').niceSelect();
    </script>
    <script src="assets/js/main.js"></script>



</body>

</html>