<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title Here</title>



    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/all.min.css" rel="stylesheet">
    <link href="assets/css/fontawesome.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/default.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>

<body class="container-wd">

    <div class="offcanva">
        <div class="cross">
            <a href="#"><i class="fal fa-times"></i></a>
        </div>
        <div class="offcanva-menu">
            <ul>
                <li><a href="#">Startup kit</a>
                </li>
                <li><a href="#">Funding</a></li>
                <li><a href="#">Network</a></li>
                <li><a href="#">Programs</a></li>
                <li><a href="#">Apply for Elevate</a></li>
            </ul>
        </div>
    </div>
    <div class="overlay"></div>


    <!--    header-area-start-->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-fl">
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="header-bar ttyr">
                            <a href="#"><img src="assets/img/bar.png" alt=""></a>
                        </div>
                        <div class="header-menu evem-header-menu">
                            <ul>
                                <li><a href="#">Startup kit <i class="fal fa-angle-down"></i></a>
                                </li>
                                <li><a href="#">Funding<i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Network<i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Programs<i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Apply for Elevate<i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                            <div class="header-btn">
                                <a href="#" class="theme-btn">Register/Login</a>
                            </div>
                            <div class="header-bar">
                                <a href="#"><img src="assets/img/bar.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    header-area-end-->

    <!-- flip-area-start -->

    <div class="flip-area about-flip" style="background-image: url(assets/img/about-us/header-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="flip-wrap">
                        <div class="flip-content about-content">
                            <span>Our mission</span>
                            <h2>Our mission is to empower businesses with tools that serve people in the most human, helpful way.</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- flip-area-end -->


    <!-- our-story-area-start -->

        <div class="our-story">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="our-story-wrap">
                            <span>Our Journey</span>
                            <h5>Our story</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus in ornare quam viverra orci. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Tristique nulla aliquet enim tortor at auctor urna nunc id. Diam ut venenatis tellus in metus. Urna molestie at elementum eu facilisis sed odio morbi. Non sodales neque sodales ut etiam sit amet. Dui sapien eget mi proin sed libero enim. Arcu non odio euismod lacinia at quis risus sed. Egestas quis ipsum suspendisse ultrices gravida. Elit scelerisque mauris pellentesque pulvinar pellentesque. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et netus. Quam elementum pulvinar etiam non. Suspendisse potenti nullam ac tortor vitae purus faucibus ornare. In mollis nunc sed id semper risus in hendrerit gravida. Urna duis convallis convallis tellus id.</p>
                            <p>Leo vel orci porta non pulvinar. Justo eget magna fermentum iaculis eu non. Sodales ut eu sem integer vitae. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit duis. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis</p>
                        </div>
                    </div>
                    <div class="col-lg-4 order-first order-lg-last">
                        <div class="our-story-box">
                            <div class="our-story-single-item">
                                <p>Launched in April of</p>
                                <h3>2013</h3>
                            </div>
                            <div class="our-story-single-item">
                                <p>Launched in April of</p>
                                <h3>2013</h3>
                            </div>
                            <div class="our-story-single-item">
                                <p>Launched in April of</p>
                                <h3>2013</h3>
                            </div>
                            <div class="our-story-single-item">
                                <p>Launched in April of</p>
                                <h3>2013</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- our-story-area-end -->

<!-- story-image-area-start -->

        <div class="story-image">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="story-image-wrap">
                            <div class="single-image">
                                <img src="assets/img/about-us/i1.png" alt="">
                            </div>
                            <div class="single-image img-2">
                                <img src="assets/img/about-us/i2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="story-image-inner">
                            <div class="story-inner-img-1">
                                <img src="assets/img/about-us/i3.png" alt="">
                            </div>
                            <div class="story-inner-img-1 ig-mar">
                                <img src="assets/img/about-us/i4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- story-image-area-end -->

<!-- amen-area-start -->

<div class="amen-area amen-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="amen-img">
                    <img src="assets/img/peo.png" alt="">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="amen-wrap">
                    <div class="product-title location amen">
                        <a href="#">Cell Activities</a>
                        <h3>Key highlights</h3>
                    </div>
                    <div class="amen-list">
                        <ul>
                            <li><i class="far fa-check"></i>Empathy &amp; engagement</li>
                            <li><i class="far fa-check"></i>Strong communication , adaptable &amp; collaboration</li>
                            <li><i class="far fa-check"></i>Teaching &amp; focused sharing best practices in industry</li>
                            <li><i class="far fa-check"></i>Real world value learning</li>
                        </ul>
                    </div>
                    <div class="skill-btn">
                        <div class="songle-lo-btn amebn">
                            <a class="style-btn" href="#">Connect with us <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- amen-area-end -->


<div class="object-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-title object-title">
                    <a href="#">Our Motive</a>
                    <h3>Our Objectives</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- object-area-start -->

    <div class="object-aera">
        <div class="container">
            <div class="object-bg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="object-wrap">
                            <div class="ob-img ob-mobile">
                                <img src="assets/img/about-us/ob.png" alt="">
                            </div>
                            <h4>Connect with our departments</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus in ornare quam viverra orci. </p>
                        <a href="#">Connect with us<i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ob-img">
                    <img src="assets/img/about-us/ob.png" alt="">
                </div>
            </div>
        </div>
    </div>

<!-- object-area-end -->



<!-- object-area-start -->

<div class="object-aera ob-area-2">
    <div class="container">
        <div class="object-bg ob-bg-2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ob-img ob-img-2">
                        <img src="assets/img/about-us/ob2.png" alt="">
                    </div>
                    <div class="object-wrap ob-wp-2">
                        <div class="ob-img ob-mobile">
                            <img src="assets/img/about-us/ob2.png" alt="">
                        </div>
                        <h4>Government aid</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus in ornare quam viverra orci. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Tristique nulla aliquet enim tortor at auctor urna nunc id. </p>
                    <a href="#">Connect with us<i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- object-area-end -->


<!-- object-area-start -->

<div class="object-aera on-area-5">
    <div class="container">
        <div class="object-bg ob-bg-3">
            <div class="row">
                <div class="col-lg-12">
                    <div class="object-wrap ob-content-3">
                        <div class="ob-img ob-mobile">
                            <img src="assets/img/about-us/ob3.png" alt="">
                        </div>
                        <h4>Network with the various parts of startup ecosystem</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus in ornare quam viverra orci. </p>
                    <a href="#">Connect with us<i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="ob-img ob-img-3">
                <img src="assets/img/about-us/ob3.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-- object-area-end -->

<!-- object-area-start -->

<div class="object-aera objec-area-4">
    <div class="container">
        <div class="object-bg ob-bg-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="object-wrap ob-content-3">
                        <div class="ob-img ob-mobile">
                            <img src="assets/img/about-us/ob3.png" alt="">
                        </div>
                        <h4>Network with the various parts of startup ecosystem</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus in ornare quam viverra orci. </p>
                    <a href="#">Connect with us<i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="ob-img ob-img-4">
                <img src="assets/img/about-us/ob4.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-- object-area-end -->



    <!-- footer-area-start -->

    <div class="footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="#"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="footer-list-fx">
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Get started</a></li>
                                            <li><a href="#">Booster kit</a></li>
                                            <li><a href="#">Karnataka Startup cell</a></li>
                                            <li><a href="#">K-Tech hub</a></li>
                                            <li><a href="#">IP Facilitation</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Programs</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Elevate</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Startups</a></li>
                                            <li><a href="#" Incubators></a></li>
                                            <li><a href="#">Investors</a></li>
                                            <li><a href="#">Mentors</a></li>
                                            <li><a href="#">Our partners</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Media</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">News & Events</a></li>
                                            <li><a href="#">Gallery</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Policies & Schemes</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Karnataka Startup Policy</a></li>
                                            <li><a href="#">Operational Guidelines</a></li>
                                            <li><a href="#">Self Certification</a></li>
                                            <li><a href="#">Other Govt Schemes</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Grievances</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Raise Complaint</a></li>
                                            <li><a href="#">Status Check</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>About us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About StartupKarnataka</a></li>
                                            <li><a href="#">Success Stories</a></li>
                                            <li><a href="#">Vision Group</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Funding</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About K-Startup Funding</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Head office</p>
                                    <div class="list uut">
                                        <ul>
                                            <li><a href="#">BMTC – Central Offices Building,</a></li>
                                            <li><a href="#">TTMC ‘B’ Block, 4th Floor,</a></li>
                                            <li><a href="#">Shanthinagar,KH Road,</a></li>
                                            <li><a href="#">Bengaluru 560 027</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Email us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">startupcell@karnataka.gov.in</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Connect now</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">080-22632626 , +91-80-22231007</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Timings</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">10 am - 7 pm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right-wrap">
                        <div class="copy-right-left">
                            <div class="copy-right-text">
                                <p>© KITS 2021, All Rights Reserved</p>
                            </div>
                            <div class="copyright-menu">
                                <ul>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Total Views : <span>65,3461</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="copy-right-icon">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer-area-end -->

    <!-- modal-area-style-start -->

    <div class="startuo-modal">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>
                    <div class="modal-body">
                        <div class="start-modal-wrap">
                            <div class="product-title start-modal">
                                <h3>Products and services</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut</p>
                            </div>
                            <div class="modal-form">
                                <div class="single-form">
                                    <label for="#">Company Name*</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">full name *</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">Email *</label>
                                    <input type="Email" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">Mobile number *</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="modal-contact-btn">
                                    <button>Submit Request<i class="fal fa-long-arrow-right"></i></button>
                                </div>
                                <div class="privicy-text">
                                    <p>By clicking on submit request you agree to our <a href="#">Terms & Conditions</a>
                                        and accordance with our <a href="#">Privacy Policy</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal-area-style-end -->






    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/Popper.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.nice-select.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script>
        $('select').niceSelect();
    </script>
    <script src="assets/js/main.js"></script>



</body>

</html>