<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title Here</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/aos.css">
    <link href="assets/css/fontawesome.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/all.min.css" rel="stylesheet">
    <link href="assets/css/helper.css" rel="stylesheet">
    <link href="assets/css/slick.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>

<body>

    <!-- Header-Top-Area Start  -->
    <div class="header-top-area">
        <div class="container-fluid">
            <div class="row align-items-center form-row">
                <div class="col-lg-3 col-md-3 col-3">
                    <div class="social-icon">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-7">
                    <div class="header-top-txt text-center">
                        <h4>THE ANALYST SYNDICATE</h4>
                    </div>
                </div>
                <div class="col-2 toggle-position d-md-none">
                    <div class="menu-trigger text-right">
                        <i class="fal fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="talk-btn d-none d-md-flex"><i class="fal fa-comment-alt-lines"></i>LET’S TALK</a>
    </div>
    <!-- Header-Top-Area End  -->

    <!-- Mainmenu-Area Start -->
    <div class="mainmenu-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-1 col-2 toggle-position d-none d-md-block">
                    <div class="menu-trigger">
                        <i class="fal fa-bars"></i>
                    </div>
                </div>
                <div class="col-lg-8 col-md-10 col-10">
                    <div class="mainmenu">
                        <ul>
                            <li><a class="active" href="#">Home</a></li>
                            <li class="dropdown drop_main">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Insights</a>
                                <div class="dropdown-menu multi-level">
                                    <div class="row accordion accor2 justify-content-between">
                                        <div class="header_menu">
                                            <h5 class="collapse_title" data-toggle="collapse" data-target="#pre" aria-expanded="true">PREDICTIONS 2021</h5>
                                            <ul class="collapse show" id="pre" data-parent=".accor2">
                                                <li><a href="#">Cybersecurity & privacy</a></li>
                                                <li><a href="#">Future of business</a></li>
                                                <li><a href="#">Future of technology</a></li>
                                                <li><a href="#">Future of work</a></li>
                                                <li><a href="#">Work from home</a></li>
                                                <li><a href="#">Industry</a></li>
                                            </ul>
                                        </div>
                                        <div class="header_menu">
                                            <h5 class="collapse_title" data-toggle="collapse" data-target="#tech" aria-expanded="false">TECHNOLOGY</h5>
                                            <ul class="collapse" id="tech" data-parent=".accor2">
                                                <li><a href="#">AI & Automation</a></li>
                                                <li><a href="#">Digital Strategy</a></li>
                                                <li><a href="#">Data privacy</a></li>
                                                <li><a href="#">Ethical AI</a></li>
                                                <li><a href="#">Machine Learning</a></li>
                                                <li><a href="#">All insights</a></li>
                                            </ul>
                                        </div>
                                        <div class="header_menu">
                                            <h5 class="collapse_title" data-toggle="collapse" data-target="#busi" aria-expanded="false">BUSINESS</h5>
                                            <ul class="collapse" id="busi" data-parent=".accor2">
                                                <li><a href="#">Competition</a></li>
                                                <li><a href="#">Strategy</a></li>
                                                <li><a href="#">Reality</a></li>
                                                <li><a href="#">Policy making</a></li>
                                                <li><a href="#">Future shift</a></li>
                                                <li><a href="#">All insights</a></li>
                                            </ul>
                                        </div>
                                        <div class="header_menu">
                                            <h5 class="collapse_title" data-toggle="collapse" data-target="#soc" aria-expanded="false">SOCIETY</h5>
                                            <ul class="collapse" id="soc" data-parent=".accor2">
                                                <li><a href="#">COVID-19</a></li>
                                                <li><a href="#">Digital</a></li>
                                                <li><a href="#">Social</a></li>
                                                <li><a href="#">Political</a></li>
                                                <li><a href="#">Economy</a></li>
                                                <li><a href="#">All insights</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>     
                            <li class="dropdown drop_main">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                                <div class="dropdown-menu multi-level">
                                    <div class="row accordion accor1 justify-content-between">
                                        <div class="header_menu">
                                            <h5 class="collapse_title" data-toggle="collapse" data-target="#about" aria-expanded="true">FOR BUSINESS & IT <br class="d-none d-lg-block"> LEADERS</h5>
                                            <ul class="collapse show" id="about" data-parent=".accor1">
                                                <li><a href="#">Advisory</a></li>
                                                <li><a href="#">Insights</a></li>
                                                <li><a href="#">Strategy</a></li>
                                                <li><a href="#">CIO/CISO council</a></li>
                                            </ul>
                                        </div>
                                        <div class="header_menu">
                                            <h5 class="collapse_title" data-toggle="collapse" data-target="#help" aria-expanded="false">FOR TECHNOLOGY <br class="d-none d-lg-block"> & SERVICE PROVIDERS</h5>
                                            <ul class="collapse" id="help" data-parent=".accor1">
                                                <li><a href="#">Briefing</a></li>
                                                <li><a href="#">Consultation</a></li>
                                                <li><a href="#">Influencers</a></li>
                                                <li><a href="#">Sponsorship</a></li>
                                            </ul>
                                        </div>
                                        <div class="header_menu">
                                            <h5 class="collapse_title" data-toggle="collapse" data-target="#reso" aria-expanded="false">FOR ANALYSTS</h5>
                                            <ul class="collapse" id="reso" data-parent=".accor1">
                                                <li><a href="#">Brand building</a></li>
                                                <li><a href="#">Contribution</a></li>
                                                <li><a href="#">Collaboration</a></li>
                                                <li><a href="#">Community</a></li>
                                            </ul>
                                        </div>
                                        <div class="header_menu">
                                            <h5 class="collapse_title" data-toggle="collapse" data-target="#partners" aria-expanded="false">FOR STRATEGISTS & TECHNOLOGY EVANGELISTS</h5>
                                            <ul class="collapse" id="partners" data-parent=".accor1">
                                                <li><a href="#">Collaboration</a></li>
                                                <li><a href="#">Research</a></li>
                                                <li><a href="#">Events</a></li>
                                                <li><a href="#">Influencers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>     
                            <li class="dropdown drop_main">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community</a>
                                <ul class="dropdown-menu small_menu">
                                    <li class="dropdown-submenu dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Automate & delegate to machines <i class="fal fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Artificial Intelligence</a></li>
                                            <li><a href="#">Autonomy</a></li>
                                            <li><a href="#">Drones</a></li>
                                            <li><a href="#">Robotics</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Engage society <i class="fal fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Artificial Intelligence</a></li>
                                            <li><a href="#">Autonomy</a></li>
                                            <li><a href="#">Drones</a></li>
                                            <li><a href="#">Robotics</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Invest in technology & services <i class="fal fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Artificial Intelligence</a></li>
                                            <li><a href="#">Autonomy</a></li>
                                            <li><a href="#">Drones</a></li>
                                            <li><a href="#">Robotics</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Manage & decide <i class="fal fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Artificial Intelligence</a></li>
                                            <li><a href="#">Autonomy</a></li>
                                            <li><a href="#">Drones</a></li>
                                            <li><a href="#">Robotics</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Protect, preserve & defend <i class="fal fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Artificial Intelligence</a></li>
                                            <li><a href="#">Autonomy</a></li>
                                            <li><a href="#">Drones</a></li>
                                            <li><a href="#">Robotics</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Sense, connect & share <i class="fal fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Artificial Intelligence</a></li>
                                            <li><a href="#">Autonomy</a></li>
                                            <li><a href="#">Drones</a></li>
                                            <li><a href="#">Robotics</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            The business of technology <i class="fal fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Artificial Intelligence</a></li>
                                            <li><a href="#">Autonomy</a></li>
                                            <li><a href="#">Drones</a></li>
                                            <li><a href="#">Robotics</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Predictions <i class="fal fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Artificial Intelligence</a></li>
                                            <li><a href="#">Autonomy</a></li>
                                            <li><a href="#">Drones</a></li>
                                            <li><a href="#">Robotics</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown drop_main">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events</a>
                                <ul class="dropdown-menu small_menu">
                                    <li class="dropdown-submenu dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            For business & IT leaders <i class="fal fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Advisory</a></li>
                                            <li><a href="#">Insights</a></li>
                                            <li><a href="#">Strategy</a></li>
                                            <li><a href="#">CIO/CISO council</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                           For technology & service providers <i class="fal fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Advisory</a></li>
                                            <li><a href="#">Insights</a></li>
                                            <li><a href="#">Strategy</a></li>
                                            <li><a href="#">CIO/CISO council</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                           For analysts <i class="fal fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Advisory</a></li>
                                            <li><a href="#">Insights</a></li>
                                            <li><a href="#">Strategy</a></li>
                                            <li><a href="#">CIO/CISO council</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                           For strategists & technology evangelists <i class="fal fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Advisory</a></li>
                                            <li><a href="#">Insights</a></li>
                                            <li><a href="#">Strategy</a></li>
                                            <li><a href="#">CIO/CISO council</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">About Us</a></li>
                            <li class="d-md-none"><a href="#">Let's Talk</a></li>
                        </ul>
                        <div class="close-menu">
                            <img src="assets/img/close.svg" alt="img"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!-- analyst-listing Start -->
   <div class="analyst-listing pt_45 overflow-hidden">
     <div class="container">
       <div class="row">
          <div class="col-lg-12">
            <div class="area-title  text-center ">
              <h2>Analysts</h2>
            </div>
          </div>
       </div>
       <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12">
          <div class="row mas-grid-wrapper">
            <div class="col-lg-12 col-md-12" data-aos="fade-up" data-aos-delay="200">
              <div class="card-images-box mb-4">
                <img src="assets/img/analysts listing/2.png" class="img-fluid" alt="">
                 <div class="shap"></div>
                <div class="card-body-content">
                  <h4>Jessica Bloom</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="card-images-box mb-4" data-aos="fade-up" data-aos-delay="400">
                <img src="assets/img/analysts listing/3.png" alt="">
                 <div class="shap"></div>
                <div class="card-body-content">
                  <h4>Jessica Bloom</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12" data-aos="fade-up" data-aos-delay="600">
              <div class="card-images-box mb-4">
                <img src="assets/img/analysts listing/4.png" alt="">
                 <div class="shap"></div>
                <div class="card-body-content">
                  <h4>Jessica Bloom</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12" data-aos="fade-up" data-aos-delay="800">
              <div class="card-images-box mb-4">
                <img src="assets/img/analysts listing/5.png" alt="">
                 <div class="shap"></div>
                <div class="card-body-content">
                  <h4>Jessica Bloom</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12 mb-lg-4 mb-4" data-aos="fade-up" data-aos-delay="400">
          <div class="analu-wrapp">
            <img src="assets/img/analysts listing/1.png" alt="">
            <div class="analust-content">
              <h2>Jessica Bloom</h2>
              <ul class="social-list d-flex">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter twitter"></i></a>
                  </li>
              </ul>
              <p>Tom spent 24 exciting years as major thought leader <br> at Gartner, Inc. 2 years as global head of Gartner research.</p>
              <p>16k+ advisory conversations, 900+ publications</p>
              <h4>Wrote insights on</h4>
              <p>Artificial Intelligence<br>Business value of technology<br>Regulation & public policy</p>
              <h4>Services</h4>
              <p>Speaking engagements, Workshops, Podcasts<br>Webinars & Fireside Chats</p>
              <div class="anylust-btn d-flex align-items-center justify-content-between mt_55">
                <a href="#" class="btn bg-succes btn-group-lg radius-0">CONNECT</a>
                <a href="" class="btn-line">VIEW PROFILE</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12" data-aos="fade-up" data-aos-delay="200">
          <div class="card-images-box mb-4">
            <img src="assets/img/analysts listing/6.png" alt="">
             <div class="shap"></div>
            <div class="card-body-content">
              <h4>Jessica Bloom</h4>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12" data-aos="fade-left" data-aos-delay="400">
          <div class="card-images-box mb-4">
            <img src="assets/img/analysts listing/7.png" alt="">
             <div class="shap"></div>
            <div class="card-body-content">
              <h4>Jessica Bloom</h4>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12" data-aos="fade-right" data-aos-delay="600">
          <div class="card-images-box mb-4">
            <img src="assets/img/analysts listing/8.png" alt="">
             <div class="shap"></div>
            <div class="card-body-content">
              <h4>Jessica Bloom</h4>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12" data-aos="fade-left" data-aos-delay="800">
          <div class="card-images-box mb-4">
            <img src="assets/img/analysts listing/9.png" alt="">
             <div class="shap"></div>
            <div class="card-body-content">
              <h4>Jessica Bloom</h4>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12" data-aos="fade-right" data-aos-delay="900">
          <div class="card-images-box ">
            <img src="assets/img/analysts listing/10.png" alt="">
             <div class="shap"></div>
            <div class="card-body-content">
              <h4>Jessica Bloom</h4>
            </div>
          </div>
        </div>
       </div>
     </div>
   </div>
   <!-- analyst-listing End -->

    <!-- Connect-analyst-Area Start -->
    <div class="analyst-connect-area ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" data-aos="fade-right">
                    <div class="analyst-connect">
                        <h2>Connect with an analyst.</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                        <br>
                        <a class="common-btn with-bg" href="">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Connect-analyst-Area End -->

    <!-- Footer-Area Start -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-4">
                        <div class="footer-left">
                            <h4>THE ANALYST SYNDICATE</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore 
                                magna aliqua.  </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="social-icon">
                                <ul>
                                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 pl-xl-5">
                        <div class="row justify-content-between footer_row">
                            <div class="footer-link footer_gap_1">
                                <h4>FOR BUSINESS LEADERS</h4>
                                <ul>
                                    <li><a href="">Get advice & evaluations</a></li>
                                    <li><a href="">Get advice on future shifts</a></li>
                                    <li><a href="">Get advice on technology</a></li>
                                    <li><a href="">Assess cost of new investments</a></li>
                                    <li><a href="">Join the CIO/CISO success council</a></li>
                                    <li><a href="">Other ..</a></li>
                                </ul>
                            </div>
                            <div class="footer-link footer_gap_2">
                                <h4>FOR SERVICE PROVIDERS</h4>
                                <ul>
                                    <li><a href="">Give a brief</a></li>
                                    <li><a href="">Connect with analysts</a></li>
                                    <li><a href="">Engage analyst-influencers</a></li>
                                    <li><a href="">Sponsor an event (webinar/podcast)</a></li>
                                    <li><a href="">Join the CMO success council</a></li>
                                    <li><a href="">Other ..</a></li>
                                </ul>
                            </div>
                            <div class="footer-link footer_gap_3">
                                <h4>FOR ANALYSTS</h4>
                                <ul>
                                    <li><a href="">Build your brand</a></li>
                                    <li><a href="">Contribute insights</a></li>
                                    <li><a href="">Collaborate on research</a></li>
                                    <li><a href="">Join the community</a></li>
                                    <li><a href="">Get opportunities</a></li>
                                    <li><a href="">Other ..</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 mt-3">
                        <ul class="footer-menu">
                            <li><a href="">Privacy Policy </a></li>
                            <li><a href="">Terms & Conditions</a></li>
                            <li><a href="">Disclaimers</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8 pl-xl-5 mt-3">
                        <p class="copyright">Copyright @2021. The Analyst Syndicate. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- popup area -->
    <div class="popup_wrapper">
        <div class="popup_box">
            <img src="assets/img/mask-3.png" class="mask_3" alt="img">
            <div class="container">
                <div class="header_content">
                    <h4 class="m-0">THE ANALYST SYNDICATE</h4>
                    <img src="assets/img/close.svg" class="popup_close" alt="">
                </div>
                <div class="main_content">
                    <h2>Get insights from <br /> the world’s leading analysts</h2>
                    <div class="btn_group">
                        <button type="submit" class="blue_btn popup_btn">Subscribe [Free]</button>
                         <button type="submit" class="blue_btn popup_btn2">Connect now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/Popper.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/aos.js"></script>
     <script src="assets/js/masonry-imgload.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>