<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title Here</title>



    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/all.min.css" rel="stylesheet">
    <link href="assets/css/fontawesome.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/default.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>

<body>
    <div class="offcanva">
        <div class="cross">
            <a href="#"><i class="fal fa-times"></i></a>
        </div>
        <div class="offcanva-menu">
            <ul>
                <li><a href="#">Startup kit</a>
                </li>
                <li><a href="#">Funding</a></li>
                <li><a href="#">Network</a></li>
                <li><a href="#">Programs</a></li>
                <li><a href="#">Apply for Elevate</a></li>
            </ul>
        </div>
    </div>
    <div class="overlay"></div>


    <!--    header-area-start-->
    <div class="header-area contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-fl">
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="header-bar ttry">
                            <a href="#"><img src="assets/img/bar.png" alt=""></a>
                        </div>
                        <div class="header-menu">
                            <ul>
                                <li><a href="#">Startup kit</a>
                                </li>
                                <li><a href="#">Funding</a></li>
                                <li><a href="#">Network</a></li>
                                <li><a href="#">Programs</a></li>
                                <li><a href="#">Apply for Elevate</a></li>
                                <li><a href="#"></a></li>
                            </ul>
                            <div class="header-btn">
                                <a href="#" class="theme-btn">Register/Login</a>
                            </div>
                            <div class="header-bar">
                                <a href="#"><img src="assets/img/bar.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    header-area-end-->
    
<!--    toll-bar-area-start-->
    <div class="toll-bar-area" style="background-image: url(assets/img/contact/t-bg.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="toll-bar-fl">
                        <div class="tol-bar-contacnt">
                            <h3>Our Toll free numbers</h3>
                            <a href="#" class="theme-btn">Our Offices</a>
                        </div>
                        <div class="toll-btn">
                            <a href="#"><img src="assets/img/contact/call2.png" alt="">9876543210</a>
                            <a href="#"><img src="assets/img/contact/call2.png" alt="">9876543210</a>
                            <a href="#"><img src="assets/img/contact/call2.png" alt="">9876543210</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    toll-bar-area-end-->

    <!--    contact-area-start-->
    <div class="contact-area">
       <img src="assets/img/contact/bard.png" alt="" class="bard">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-form">
                        <form action="#">
                            <div class="contact-title">
                                <h3>Contact Form</h3>
                            </div>
                            <div class="contact-all">
                                <div class="single-con-input">
                                    <div class="single-in-input">
                                        <label for="#">full name *</label>
                                        <input type="text" placeholder="Enter text here">
                                    </div>
                                </div>
                                <div class="single-con-input-fl">
                                    <div class="single-con-input">
                                        <div class="single-in-input">
                                            <label for="#">phone number</label>
                                            <input type="tel" placeholder="Enter number here">
                                        </div>
                                    </div>
                                    <div class="single-con-input">
                                        <div class="single-in-input">
                                            <label for="#">email *</label>
                                            <input type="tel" placeholder="Enter text here">
                                        </div>
                                    </div>
                                </div>
                                <div class="single-con-input-fl">
                                    <div class="single-con-input">
                                        <div class="single-in-input">
                                            <label for="#">company name</label>
                                            <input type="text" placeholder="Select">
                                        </div>
                                    </div>
                                    <div class="single-con-input">
                                        <div class="single-in-input sel">
                                            <label for="#">company type</label>
                                            <select>
                                                <option data-display="Select">Select</option>
                                                <option value="1">Some option</option>
                                                <option value="2">Another option</option>
                                                <option value="3" disabled>A disabled option</option>
                                                <option value="4">Potato</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-con-input">
                                    <div class="single-in-input">
                                        <label for="#">your message *</label>
                                        <textarea name="" id="" cols="30" rows="10" placeholder="Enter text here"></textarea>
                                    </div>
                                </div>
                                <div class="single-con-check">
                                    <label class="container-fh">I’m not a robot
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <a href="#" class="recal"><img src="assets/img/contact/re.png" alt=""></a>
                                </div>
                                <div class="single-con-btn">
                                    <button type="submit" class="theme-btn">Submit</button>
                                </div>
                                <div class="single-con-last-text">
                                    <p>By clicking on submit request you agree to our <a href="#">Terms & Conditions</a> & accordance with our <a href="#">Privacy Policy</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    contact-area-end-->

    <!--    office-area-start-->
    <div class="office-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="office-title">
                        <span>Where we are</span>
                        <h3>Our Offices</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="office-fl">
                        <div class="single-offce">
                            <div class="office-top-text">
                                <h3>Karnataka Startup Cell</h3>
                                <p>Karnataka Innovation and Technology Society(KITS) <br>
                                    Department of Electronics, IT, Bt and S&T, <br>
                                    Government of Karnataka, <br>
                                    BMTC – Central Offices Building, TTMC ‘B’ Block, <br>
                                    4th Floor, Shanthinagar,KH Road, <br>
                                    Bengaluru 560 027</p>
                            </div>
                            <div class="office-loca">
                                <div class="office-loca-left">
                                    <a href="tel:+91-80-22231007"><img src="assets/img/contact/call.png" alt="">+91-80-22231007</a>
                                    <a href="tel:+91-80-22231007"><img src="assets/img/contact/envelope.png" alt="">+91-80-22231007</a>
                                </div>
                                <div class="office-loca-ri">
                                    <a href="#"><i class="fas fa-map-marker-alt"></i>Google Maps</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-offce">
                            <div class="office-top-text">
                                <h3>Karnataka Startup Cell</h3>
                                <p>Karnataka Innovation and Technology Society(KITS) <br>
                                    Department of Electronics, IT, Bt and S&T, <br>
                                    Government of Karnataka, <br>
                                    BMTC – Central Offices Building, TTMC ‘B’ Block, <br>
                                    4th Floor, Shanthinagar,KH Road, <br>
                                    Bengaluru 560 027</p>
                            </div>
                            <div class="office-loca">
                                <div class="office-loca-left">
                                    <a href="tel:+91-80-22231007"><img src="assets/img/contact/call.png" alt="">+91-80-22231007</a>
                                    <a href="tel:+91-80-22231007"><img src="assets/img/contact/envelope.png" alt="">+91-80-22231007</a>
                                </div>
                                <div class="office-loca-ri">
                                    <a href="#"><i class="fas fa-map-marker-alt"></i>Google Maps</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-offce">
                            <div class="office-top-text">
                                <h3>Karnataka Startup Cell</h3>
                                <p>Karnataka Innovation and Technology Society(KITS) <br>
                                    Department of Electronics, IT, Bt and S&T, <br>
                                    Government of Karnataka, <br>
                                    BMTC – Central Offices Building, TTMC ‘B’ Block, <br>
                                    4th Floor, Shanthinagar,KH Road, <br>
                                    Bengaluru 560 027</p>
                            </div>
                            <div class="office-loca">
                                <div class="office-loca-left">
                                    <a href="tel:+91-80-22231007"><img src="assets/img/contact/call.png" alt="">+91-80-22231007</a>
                                    <a href="tel:+91-80-22231007"><img src="assets/img/contact/envelope.png" alt="">+91-80-22231007</a>
                                </div>
                                <div class="office-loca-ri">
                                    <a href="#"><i class="fas fa-map-marker-alt"></i>Google Maps</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    office-area-end-->

    <!-- footer-area-start -->

    <div class="footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="#"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="footer-list-fx">
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Get started</a></li>
                                            <li><a href="#">Booster kit</a></li>
                                            <li><a href="#">Karnataka Startup cell</a></li>
                                            <li><a href="#">K-Tech hub</a></li>
                                            <li><a href="#">IP Facilitation</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Programs</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Elevate</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Startups</a></li>
                                            <li><a href="#" Incubators></a></li>
                                            <li><a href="#">Investors</a></li>
                                            <li><a href="#">Mentors</a></li>
                                            <li><a href="#">Our partners</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Media</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">News & Events</a></li>
                                            <li><a href="#">Gallery</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Policies & Schemes</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Karnataka Startup Policy</a></li>
                                            <li><a href="#">Operational Guidelines</a></li>
                                            <li><a href="#">Self Certification</a></li>
                                            <li><a href="#">Other Govt Schemes</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Grievances</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Raise Complaint</a></li>
                                            <li><a href="#">Status Check</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>About us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About StartupKarnataka</a></li>
                                            <li><a href="#">Success Stories</a></li>
                                            <li><a href="#">Vision Group</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Funding</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About K-Startup Funding</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Head office</p>
                                    <div class="list uut">
                                        <ul>
                                            <li><a href="#">BMTC – Central Offices Building,</a></li>
                                            <li><a href="#">TTMC ‘B’ Block, 4th Floor,</a></li>
                                            <li><a href="#">Shanthinagar,KH Road,</a></li>
                                            <li><a href="#">Bengaluru 560 027</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Email us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">startupcell@karnataka.gov.in</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Connect now</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">080-22632626 , +91-80-22231007</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Timings</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">10 am - 7 pm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right-wrap">
                        <div class="copy-right-left">
                            <div class="copy-right-text">
                                <p>© KITS 2021, All Rights Reserved</p>
                            </div>
                            <div class="copyright-menu">
                                <ul>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Total Views : <span>65,3461</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="copy-right-icon">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer-area-end -->

    <!-- modal-area-style-start -->

    <div class="startuo-modal">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>
                    <div class="modal-body">
                        <div class="start-modal-wrap">
                            <div class="product-title start-modal">
                                <h3>Products and services</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut</p>
                            </div>
                            <div class="modal-form">
                                <div class="single-form">
                                    <label for="#">Company Name*</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">full name *</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">Email *</label>
                                    <input type="Email" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">Mobile number *</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="modal-contact-btn">
                                    <button>Submit Request<i class="fal fa-long-arrow-right"></i></button>
                                </div>
                                <div class="privicy-text">
                                    <p>By clicking on submit request you agree to our <a href="#">Terms & Conditions</a>
                                        and accordance with our <a href="#">Privacy Policy</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal-area-style-end -->






    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/Popper.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.nice-select.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script>
        $('select').niceSelect();

    </script>
    <script src="assets/js/main.js"></script>



</body>

</html>
