<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title Here</title>



    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/all.min.css" rel="stylesheet">
    <link href="assets/css/fontawesome.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/venobox.min.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/default.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>

<body>

    <div class="offcanva">
        <div class="cross">
            <a href="#"><i class="fal fa-times"></i></a>
        </div>
        <div class="offcanva-menu">
            <ul>
                <li><a href="#">Startup kit</a>
                </li>
                <li><a href="#">Funding</a></li>
                <li type="button" data-toggle="collapse" data-target="#collapseExample12" aria-expanded="false" aria-controls="collapseExample12"><a href="#">Network<i class="fal fa-angle-down"></i></a>
                

                    
                <div class="off-sub collapse" id="collapseExample12">
                    <div class="single-sub nng">
                        <div class="su-ti">
                            <p>By Role</p>
                        </div>
                        <div class="sub-list mmnb">
                            <ul>
                                <li><a href="#">Connect with Mentors ( 1300+ )</a></li>
                                <li><a href="#">Connect with Startups ( 9000+ )</a></li>
                                <li><a href="#">Connect with Incubators ( 9000+ )</a></li>
                                <li><a href="#">Connect with Investors ( 9000+ )</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-sub nng">
                        <div class="su-ti">
                            <p>By Role</p>
                        </div>
                        <div class="sub-list mmnb">
                            <ul>
                                <li><a href="#">Fin tech </a></li>
                                <li><a href="#">Bio - tech </a></li>
                                <li><a href="#">Health care</a></li>
                                <li><a href="#">Automobile</a></li>
                                <li><a href="#">Information tech</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Agriculture</a></li>
                                <li><a class="ggfd" href="#">More…</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-sub nng">
                        <div class="su-ti">
                            <p>By Role</p>
                        </div>
                        <div class="sub-list mmnb">
                            <ul>
                                <li><a href="#">Bengaluru</a></li>
                                <li><a href="#">Belgaum</a></li>
                                <li><a href="#">Mysore</a></li>
                                <li><a href="#">Hubli</a></li>
                                <li><a href="#">Mangalore</a></li>
                                <li><a href="#">Shimoga</a></li>
                                <li><a href="#">Tumkur</a></li>
                                <li><a class="ggfd" href="#">More…</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="image-wp fdg">
                        <div class="single-sub-img ag">
                            <img src="assets/img/start-up/sub.png" alt="">
                        </div>
                        <div class="sub-content adg">
                            <h5>Apply to
                                Elevate 2021</h5>
                        </div>
                        <div class="sub-btn adgh">
                            <a href="#">Register</a>
                        </div>
                    </div>
                </div>
                
                
                
                
                </li>
                <li><a href="#">Programs</a></li>
                <li><a href="#">Apply for Elevate</a></li>
            </ul>
        </div>
    </div>
    <div class="overlay"></div>

    <!--    header-area-start-->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-fl">
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="header-bar ttry">
                            <a href="#"><img src="assets/img/bar.png" alt=""></a>
                        </div>
                        <div class="header-menu">
                            <ul>
                                <li><a href="#">Startup kit</a>
                                    <div class="submenu">
                                        <div class="subfx">
                                            <div class="sub-fx-menu">
                                                <div class="single-sub">
                                                    <div class="su-ti">
                                                        <p>By Role</p>
                                                    </div>
                                                    <div class="sub-list">
                                                        <ul>
                                                            <li><a href="#">Connect with Mentors ( 1300+ )</a></li>
                                                            <li><a href="#">Connect with Startups ( 9000+ )</a></li>
                                                            <li><a href="#">Connect with Incubators ( 9000+ )</a></li>
                                                            <li><a href="#">Connect with Investors ( 9000+ )</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="single-sub">
                                                    <div class="su-ti">
                                                        <p>By Role</p>
                                                    </div>
                                                    <div class="sub-list">
                                                        <ul>
                                                            <li><a href="#">Fin tech </a></li>
                                                            <li><a href="#">Bio - tech </a></li>
                                                            <li><a href="#">Health care</a></li>
                                                            <li><a href="#">Automobile</a></li>
                                                            <li><a href="#">Information tech</a></li>
                                                            <li><a href="#">Marketing</a></li>
                                                            <li><a href="#">Agriculture</a></li>
                                                            <li><a class="ggfd" href="#">More…</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="single-sub">
                                                    <div class="su-ti">
                                                        <p>By Role</p>
                                                    </div>
                                                    <div class="sub-list">
                                                        <ul>
                                                            <li><a href="#">Bengaluru</a></li>
                                                            <li><a href="#">Belgaum</a></li>
                                                            <li><a href="#">Mysore</a></li>
                                                            <li><a href="#">Hubli</a></li>
                                                            <li><a href="#">Mangalore</a></li>
                                                            <li><a href="#">Shimoga</a></li>
                                                            <li><a href="#">Tumkur</a></li>
                                                            <li><a class="ggfd" href="#">More…</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sub-image-fx">
                                                <div class="image-wp">
                                                    <div class="single-sub-img">
                                                        <img src="assets/img/start-up/sub.png" alt="">
                                                    </div>
                                                    <div class="sub-content">
                                                        <h5>Apply to
                                                            Elevate 2021</h5>
                                                    </div>
                                                    <div class="sub-btn">
                                                        <a href="#">Register</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Funding</a></li>
                                <li><a href="#">Network</a></li>
                                <li><a href="#">Programs</a></li>
                                <li><a href="#">Apply for Elevate</a></li>
                                <li><a href="#"></a></li>
                            </ul>
                            <div class="header-btn">
                                <a href="#" class="theme-btn">Register/Login</a>
                            </div>
                            <div class="header-bar">
                                <a href="#"><img src="assets/img/bar.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    header-area-end-->

<!-- looking-area-start -->

    <div class="looking-area" style="background-image: url(assets/img/home-hdr-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="looking-wrap">
                        <div class="looking-content">
                            <p>Join the Karnataka startup revolution</p>
                            <h3>I am a <span class="nnh">Startup founder  <img src="assets/img/lk.png" alt=""></span> looking for  <span class="ttb">Startup schemes and policies<img src="assets/img/lk.png" alt=""></span></h3>
                        </div>
                        <div class="ation-wp">
                            <p>Suggested Actions</p>
                            <div class="action-fx">
                                <a href="#">New Schemes</a>
                                <a href="#">Check Eligibility</a>
                                <a href="#">Start Application</a>
                                <a href="#">Incubators</a>
                                <a href="#">Find Accelerators</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- looking-area-end -->

 

<!-- mision-area-start -->

    <div class="mision-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="mision-content">
                        <a href="#">Mission 2022</a>
                        <h3>Karnataka startup mission 2022</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                        <div class="songle-lo-btn">
                            <a class="style-btn" href="#">Contact now <i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-first order-lg-last">
                    <div class="mision-img">
                        <img src="assets/img/mis.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>    

<!-- mision-area-end -->

<!-- story-area-start -->

    <div class="story-area">
        <div class="shap">
            <span></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="story-wrap">
                        <div class="product-title story">
                            <a href="#">Our Story</a>
                            <h3>Karnataka Startup Story</h3>
                        </div>
                        <div class="story-inner">
                            <div class="story-img">
                                <img src="assets/img/story-img.png" alt="">
                            </div>
                            <div class="story-box">
                                <div class="story-fx">
                                    <div class="single-story">
                                        <a href="#"><img src="assets/img/icon/i1.png" alt="">2000+ Startups</a>
                                    </div>
                                    <div class="single-story">
                                        <a href="#"><img src="assets/img/icon/i2.png" alt="">2000+ Startups</a>
                                    </div>
                                    <div class="single-story">
                                        <a href="#"><img src="assets/img/icon/i3.png" alt="">2000+ Startups</a>
                                    </div>
                                    <div class="single-story">
                                        <a href="#"><img src="assets/img/icon/i4.png" alt="">2000+ Startups</a>
                                    </div>
                                    <div class="single-story">
                                        <a href="#"><img src="assets/img/icon/i5.png" alt="">2000+ Startups</a>
                                    </div>
                                    <div class="single-story">
                                        <a href="#"><img src="assets/img/icon/i6.png" alt="">2000+ Startups</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- story-area-end -->

<!-- suces-area-start -->

    <div class="sucess-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sucess-wp">
                        <div class="product-title story">
                            <a href="#">Karnataka Startups</a>
                            <h3>Success Stories</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sucess-active owl-carousel">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="sucess-wrap">
                            <div class="single-box sucess-ss">
                                <div class="box-image suc-img">
                                    <img src="assets/img/ss/sc1.png" alt="">
                                </div>
                                <div class="box-content scs">
                                    <div class="sucess-hdr">
                                        <a href="#">E- commerce</a>
                                        <img src="assets/img/f.png" alt="">
                                    </div>
                                    <h3>Flipkart </h3>
                                    <p>Since year 2007</p>
                                    <h5>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed </h5>
                                    <a href="#">View profile<i class="fal fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="sucess-wrap">
                            <div class="single-box sucess-ss">
                                <div class="box-image suc-img">
                                    <img src="assets/img/ss/sc1.png" alt="">
                                </div>
                                <div class="box-content scs">
                                    <div class="sucess-hdr">
                                        <a href="#">Teaching</a>
                                        <img src="assets/img/f.png" alt="">
                                    </div>
                                    <h3>HackerEarth </h3>
                                    <p>Since year 2007</p>
                                    <h5>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed </h5>
                                    <a href="#">View profile<i class="fal fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="sucess-wrap">
                            <div class="single-box sucess-ss">
                                <div class="box-image suc-img">
                                    <img src="assets/img/ss/sc1.png" alt="">
                                </div>
                                <div class="box-content scs">
                                    <div class="sucess-hdr">
                                        <a href="#">Grocery shopping</a>
                                        <img src="assets/img/f.png" alt="">
                                    </div>
                                    <h3>Big Basket</h3>
                                    <p>Since year 2007</p>
                                    <h5>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed </h5>
                                    <a href="#">View profile<i class="fal fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="sucess-wrap">
                            <div class="single-box sucess-ss">
                                <div class="box-image suc-img">
                                    <img src="assets/img/ss/sc1.png" alt="">
                                </div>
                                <div class="box-content scs">
                                    <div class="sucess-hdr">
                                        <a href="#">E- commerce</a>
                                        <img src="assets/img/f.png" alt="">
                                    </div>
                                    <h3>Myntra</h3>
                                    <p>Since year 2007</p>
                                    <h5>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed </h5>
                                    <a href="#">View profile<i class="fal fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="sucess-wrap">
                            <div class="single-box sucess-ss">
                                <div class="box-image suc-img">
                                    <img src="assets/img/ss/sc1.png" alt="">
                                </div>
                                <div class="box-content scs">
                                    <div class="sucess-hdr">
                                        <a href="#">E- commerce</a>
                                        <img src="assets/img/f.png" alt="">
                                    </div>
                                    <h3>Flipkart </h3>
                                    <p>Since year 2007</p>
                                    <h5>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed </h5>
                                    <a href="#">View profile<i class="fal fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="sucess-wrap">
                            <div class="single-box sucess-ss">
                                <div class="box-image suc-img">
                                    <img src="assets/img/ss/sc1.png" alt="">
                                </div>
                                <div class="box-content scs">
                                    <div class="sucess-hdr">
                                        <a href="#">Teaching</a>
                                        <img src="assets/img/f.png" alt="">
                                    </div>
                                    <h3>HackerEarth </h3>
                                    <p>Since year 2007</p>
                                    <h5>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed </h5>
                                    <a href="#">View profile<i class="fal fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="sucess-wrap">
                            <div class="single-box sucess-ss">
                                <div class="box-image suc-img">
                                    <img src="assets/img/ss/sc1.png" alt="">
                                </div>
                                <div class="box-content scs">
                                    <div class="sucess-hdr">
                                        <a href="#">Grocery shopping</a>
                                        <img src="assets/img/f.png" alt="">
                                    </div>
                                    <h3>Big Basket</h3>
                                    <p>Since year 2007</p>
                                    <h5>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed </h5>
                                    <a href="#">View profile<i class="fal fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="sucess-wrap">
                            <div class="single-box sucess-ss">
                                <div class="box-image suc-img">
                                    <img src="assets/img/ss/sc1.png" alt="">
                                </div>
                                <div class="box-content scs">
                                    <div class="sucess-hdr">
                                        <a href="#">E- commerce</a>
                                        <img src="assets/img/f.png" alt="">
                                    </div>
                                    <h3>Myntra</h3>
                                    <p>Since year 2007</p>
                                    <h5>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, sed </h5>
                                    <a href="#">View profile<i class="fal fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- suces-area-end -->


<!-- conect-area-start -->

    <div class="conect-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="conect-image">
                        <img src="assets/img/start-up/cn.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="conect-wrap">
                        <div class="conect-hdn">
                            <a href="#">Our Reach</a>
                            <h3>Connect through our network</h3>
                        </div>
                        <div class="conect-inner">
                            <div class="single-conect-fx">
                                <div class="cnct-icn">
                                    <a href="#"><img src="assets/img/start-up/c1.png" alt=""></a>
                                </div>
                                <div class="contact-tx-fx">
                                    <div class="conect-tx">
                                        <h5>Startups — 2000+ </h5>
                                        <p>Individual / team / company</p>
                                    </div>
                                    <div class="conect-btn">
                                        <a href="#">View profile<i class="fal fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-conect-fx">
                                <div class="cnct-icn">
                                    <a href="#"><img src="assets/img/start-up/c2.png" alt=""></a>
                                </div>
                                <div class="contact-tx-fx">
                                    <div class="conect-tx">
                                        <h5>Mentors — 1800+</h5>
                                        <p>Pass on your knowledge</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-conect-fx">
                                <div class="cnct-icn">
                                    <a href="#"><img src="assets/img/start-up/c3.png" alt=""></a>
                                </div>
                                <div class="contact-tx-fx">
                                    <div class="conect-tx">
                                        <h5>Investors — 1200+</h5>
                                        <p>Invest in idea that you like</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-conect-fx">
                                <div class="cnct-icn">
                                    <a href="#"><img src="assets/img/start-up/c4.png" alt=""></a>
                                </div>
                                <div class="contact-tx-fx">
                                    <div class="conect-tx">
                                        <h5>Incubators - 11435+</h5>
                                        <p>Location for your work</p>
                                    </div>
                                </div>
                            </div>
                            <div class="songle-lo-btn cnct">
                                <a class="style-btn" href="#">Start networking <i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- conect-area-end -->

<!-- upcoming-area-start -->

    <div class="upcoming-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-title story">
                        <a href="#">Attend Events</a>
                        <h3>Our upcoming events  & Webinars</h3>
                    </div>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-lg-6">
                    <div class="upcming-single-wrap">
                        <div class="upcming-fx">
                            <div class="upcming-image">
                                <img src="assets/img/start-up/fff.png" alt="">
                            </div>
                            <div class="upcming-content">
                                <h4>How Your Startup Can Win <br> at SEO</h4>
                                <div class="upcming-lidt">
                                    <ul>
                                        <li>By Ashish Kumar</li>
                                        <li>Webinar</li>
                                        <li>11 am to 12pm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="up-btn">
                            <a href="#">2 Days Left</a>
                        </div>
                    </div>
                    <div class="upcming-single-wrap vvf">
                        <div class="upcming-fx">
                            <div class="upcming-image">
                                <img src="assets/img/start-up/fff.png" alt="">
                            </div>
                            <div class="upcming-content">
                                <h4>How Your Startup Can Win <br> at SEO</h4>
                                <div class="upcming-lidt">
                                    <ul>
                                        <li>By Ashish Kumar</li>
                                        <li>Webinar</li>
                                        <li>11 am to 12pm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="up-btn">
                            <a href="#">2 Days Left</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="upcming-single-wrap">
                        <div class="upcming-fx">
                            <div class="upcming-image">
                                <img src="assets/img/start-up/fff.png" alt="">
                            </div>
                            <div class="upcming-content">
                                <h4>How Your Startup Can Win <br> at SEO</h4>
                                <div class="upcming-lidt">
                                    <ul>
                                        <li>By Ashish Kumar</li>
                                        <li>Webinar</li>
                                        <li>11 am to 12pm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="up-btn">
                            <a href="#">2 Days Left</a>
                        </div>
                    </div>
                    <div class="upcming-single-wrap vvf">
                        <div class="upcming-fx">
                            <div class="upcming-image">
                                <img src="assets/img/start-up/fff.png" alt="">
                            </div>
                            <div class="upcming-content">
                                <h4>How Your Startup Can Win <br> at SEO</h4>
                                <div class="upcming-lidt">
                                    <ul>
                                        <li>By Ashish Kumar</li>
                                        <li>Webinar</li>
                                        <li>11 am to 12pm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="up-btn">
                            <a href="#">2 Days Left</a>
                        </div>
                    </div>
                    <div class="songle-lo-btn cnct upcm">
                        <a class="style-btn" href="#">View all events & webinars <i class="fal fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- upcoming-area-end -->

<!-- speak-area-start -->

    <div class="speak-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-title story">
                        <a href="#">Attend Events</a>
                        <h3>Our upcoming events  &amp; Webinars</h3>
                    </div>
                </div>
            </div>
            <div class="upcoming-active owl-carousel">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="speak-content">
                            <h4>‘Build the new, don’t just fight the old’</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                        </div>
                    </div>
                    <div class="col-lg-6 order-first order-lg-last">
                        <div class="speak-wrap">
                            <div class="speak-img">
                                <img src="assets/img/start-up/spea.png" alt="">
                                <span></span>
                            </div>
                            <div class="speak-box">
                                <div class="speak-box-content">
                                    <h5><span>Congrats!</span> Sairee Chahal 🎉</h5>
                                    <p>CEO of Sheroes Community | Elevate 2021 winner</p>
                                </div>
                                <div class="speaki-video">
                                    <a href="#"><img src="assets/img/start-up/you.png" alt="">Watch Video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="speak-content">
                            <h4>‘Build the new, don’t just fight the old’</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                        </div>
                    </div>
                    <div class="col-lg-6 order-first order-lg-last">
                        <div class="speak-wrap">
                            <div class="speak-img">
                                <img src="assets/img/start-up/spea.png" alt="">
                                <span></span>
                            </div>
                            <div class="speak-box">
                                <div class="speak-box-content">
                                    <h5><span>Congrats!</span> Sairee Chahal 🎉</h5>
                                    <p>CEO of Sheroes Community | Elevate 2021 winner</p>
                                </div>
                                <div class="speaki-video">
                                    <a href="#"><img src="assets/img/start-up/you.png" alt="">Watch Video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="speak-content">
                            <h4>‘Build the new, don’t just fight the old’</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                        </div>
                    </div>
                    <div class="col-lg-6 order-first order-lg-last">
                        <div class="speak-wrap">
                            <div class="speak-img">
                                <img src="assets/img/start-up/spea.png" alt="">
                                <span></span>
                            </div>
                            <div class="speak-box">
                                <div class="speak-box-content">
                                    <h5><span>Congrats!</span> Sairee Chahal 🎉</h5>
                                    <p>CEO of Sheroes Community | Elevate 2021 winner</p>
                                </div>
                                <div class="speaki-video">
                                    <a href="#"><img src="assets/img/start-up/you.png" alt="">Watch Video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="speak-content">
                            <h4>‘Build the new, don’t just fight the old’</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                        </div>
                    </div>
                    <div class="col-lg-6 order-first order-lg-last">
                        <div class="speak-wrap">
                            <div class="speak-img">
                                <img src="assets/img/start-up/spea.png" alt="">
                                <span></span>
                            </div>
                            <div class="speak-box">
                                <div class="speak-box-content">
                                    <h5><span>Congrats!</span> Sairee Chahal 🎉</h5>
                                    <p>CEO of Sheroes Community | Elevate 2021 winner</p>
                                </div>
                                <div class="speaki-video">
                                    <a class="venobox" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=khslbOOhJp4"><img src="assets/img/start-up/you.png" alt="">Watch Video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- speak-area-end -->


<!-- social-area-start -->

    <div class="social-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-title story">
                        <a href="#">Follow us</a>
                        <h3>Our social feeds</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="social-wp">
                        <div class="social-fx">
                            <div class="social-icon">
                                <a href="#"><img src="assets/img/start-up/twi.png" alt=""></a>
                            </div>
                            <div class="social-hdn-con">
                                <h5>Startup Karnataka</h5>
                                <a href="#">@startup_k</a>
                            </div>
                        </div>
                        <div class="social-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut  </p>
                        </div>
                        <div class="social-link">
                            <a href="#">https://bit.ly/2O9bAvX</a>
                        </div>
                        <div class="social-img">
                            <img src="assets/img/start-up/so1.png" alt="">
                        </div>
                        <div class="social-btm">
                            <span>Mar 21 , 2021</span>
                        </div>
                    </div>
                    <div class="social-last-img">
                        <img src="assets/img/start-up/social-2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="social-last-img bbf">
                        <img src="assets/img/start-up/so3.png" alt="">
                    </div>
                    <div class="social-wp">
                        <div class="social-fx">
                            <div class="social-icon">
                                <a href="#"><img src="assets/img/start-up/twi.png" alt=""></a>
                            </div>
                            <div class="social-hdn-con">
                                <h5>Startup Karnataka</h5>
                                <a href="#">@startup_k</a>
                            </div>
                        </div>
                        <div class="social-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut  </p>
                        </div>
                        <div class="social-link">
                            <a href="#">https://bit.ly/2O9bAvX</a>
                        </div>
                        <div class="social-img">
                            <img src="assets/img/start-up/so1.png" alt="">
                        </div>
                        <div class="social-btm">
                            <span>Mar 21 , 2021</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="social-wp">
                        <div class="social-fx">
                            <div class="social-icon">
                                <a href="#"><img src="assets/img/start-up/twi.png" alt=""></a>
                            </div>
                            <div class="social-hdn-con">
                                <h5>Startup Karnataka</h5>
                                <a href="#">@startup_k</a>
                            </div>
                        </div>
                        <div class="social-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut  </p>
                        </div>
                        <div class="social-link">
                            <a href="#">https://bit.ly/2O9bAvX</a>
                        </div>
                        <div class="social-img">
                            <img src="assets/img/start-up/so4.png" alt="">
                        </div>
                        <div class="social-btm">
                            <span>Mar 21 , 2021</span>
                        </div>
                    </div>
                    <div class="social-last-img">
                        <img src="assets/img/start-up/so6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- social-area-end -->




    <!-- footer-area-start -->

    <div class="footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="#"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="footer-list-fx">
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Get started</a></li>
                                            <li><a href="#">Booster kit</a></li>
                                            <li><a href="#">Karnataka Startup cell</a></li>
                                            <li><a href="#">K-Tech hub</a></li>
                                            <li><a href="#">IP Facilitation</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Programs</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Elevate</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Startups</a></li>
                                            <li><a href="#" Incubators></a></li>
                                            <li><a href="#">Investors</a></li>
                                            <li><a href="#">Mentors</a></li>
                                            <li><a href="#">Our partners</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Media</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">News & Events</a></li>
                                            <li><a href="#">Gallery</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Policies & Schemes</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Karnataka Startup Policy</a></li>
                                            <li><a href="#">Operational Guidelines</a></li>
                                            <li><a href="#">Self Certification</a></li>
                                            <li><a href="#">Other Govt Schemes</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Grievances</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Raise Complaint</a></li>
                                            <li><a href="#">Status Check</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>About us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About StartupKarnataka</a></li>
                                            <li><a href="#">Success Stories</a></li>
                                            <li><a href="#">Vision Group</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Funding</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About K-Startup Funding</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Head office</p>
                                    <div class="list uut">
                                        <ul>
                                            <li><a href="#">BMTC – Central Offices Building,</a></li>
                                            <li><a href="#">TTMC ‘B’ Block, 4th Floor,</a></li>
                                            <li><a href="#">Shanthinagar,KH Road,</a></li>
                                            <li><a href="#">Bengaluru 560 027</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Email us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">startupcell@karnataka.gov.in</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Connect now</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">080-22632626 , +91-80-22231007</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Timings</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">10 am - 7 pm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right-wrap">
                        <div class="copy-right-left">
                            <div class="copy-right-text">
                                <p>© KITS 2021, All Rights Reserved</p>
                            </div>
                            <div class="copyright-menu">
                                <ul>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Total Views : <span>65,3461</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="copy-right-icon">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer-area-end -->

    <!-- modal-area-style-start -->

    <div class="startuo-modal">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>
                    <div class="modal-body">
                        <div class="start-modal-wrap">
                            <div class="product-title start-modal">
                                <h3>Products and services</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut</p>
                            </div>
                            <div class="modal-form">
                                <div class="single-form">
                                    <label for="#">Company Name*</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">full name *</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">Email *</label>
                                    <input type="Email" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">Mobile number *</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="modal-contact-btn">
                                    <button>Submit Request<i class="fal fa-long-arrow-right"></i></button>
                                </div>
                                <div class="privicy-text">
                                    <p>By clicking on submit request you agree to our <a href="#">Terms & Conditions</a>
                                        and accordance with our <a href="#">Privacy Policy</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal-area-style-end -->






    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/Popper.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/venobox.min.js"></script>
    <script src="assets/js/jquery.nice-select.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script>
        $('.venobox').venobox();
    </script>
    <script src="assets/js/main.js"></script>



</body>

</html>