<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title Here</title>



    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/all.min.css" rel="stylesheet">
    <link href="assets/css/fontawesome.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/default.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>

<body>

    <!-- offcanva -->
    <div class="offcanva">
        <div class="cross">
            <a href="#"><i class="fal fa-times"></i></a>
        </div>
        <div class="offcanva-menu">
            <ul>
                <li><a href="#">Startup kit</a>
                </li>
                <li><a href="#">Funding</a></li>
                <li><a href="#">Network</a></li>
                <li><a href="#">Programs</a></li>
                <li><a href="#">Apply for Elevate</a></li>
            </ul>
        </div>
    </div>
    <div class="overlay"></div>

    <!--    header-area-start-->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-fl">
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="header-bar ttyr">
                            <a href="#"><img src="assets/img/bar.png" alt=""></a>
                        </div>
                        <div class="header-menu mesia-manu">
                            <ul>
                                <li><a href="#">Startup kit <i class="fal fa-angle-down"></i></a>
                                </li>
                                <li><a href="#">Funding <i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Network <i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Programs <i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Apply for Elevate <i class="fal fa-angle-down"></i></a></li>
                            </ul>
                            <div class="header-btn">
                                <a href="#" class="theme-btn">Register/Login</a>
                            </div>
                            <div class="header-bar">
                                <a href="#"><img src="assets/img/bar.png" alt=""></a>
                            </div>
                            <div class="header-bar ttyr">
                                <a href="#"><img src="assets/img/bar.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    header-area-end-->

    <!--hero-area-start-->
    <div class="hero-area" style="background-image: url(assets/img/ave/dopwn.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-containt">
                        <div class="hero-top-text">
                            <h3>Latest Policies & Schemes</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                        <div class="hero-tab">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Policies</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Schemes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link ttyu" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Incentives</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab2" data-toggle="pill" href="#pills-contact2" role="tab" aria-controls="pills-contact2" aria-selected="false">Reports</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--hero-area-end-->

    <!--    download-area-start-->

    <div class="download-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="download-wrap">
                        <div class="download-tab-menu">
                            <ul class="nav download-tabs" id="myTab" role="tablist">
                                <li class="download-item bbv">
                                    <a class="download-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Patent Reimbursement Incentives</a>
                                </li>
                                <li class="download-item bbv">
                                    <a class="download-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Marketing Incentives</a>
                                </li>
                                <li class="download-item bbv">
                                    <a class="download-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Reimbursement of VAT/CST</a>
                                </li>
                            </ul>
                        </div>
                        <div class="download-tab-content-area">
                            <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="download-inner">
                                    <div class="download-inner-hdn">
                                        <span>Patent Reimbursement Incentives</span>
                                        <a href="#"><i class="fas fa-download"></i>Download Guidelines</a>
                                    </div>
                                    <div class="download-text">
                                        <p>The policy defines that the cost of filing and prosecution of patent application will be reimbursed to the incubated startup companies subject to a limit of Rs. 2 lakh (0.2 million) per Indian patent awarded. For awarded foreign patents on a single subject matter, up to Rs. 10 lakh (1 Million) would be reimbursed. The reimbursement will be done in 2 stages, i.e., 75% after the patent is filed and the balance 25% after the patent is granted. The detailed guidelines for this are provided below:</p>
                                    </div>
                                    <div class="downloas-list-wp">
                                        <h5>Eligibility Criteria</h5>
                                        <div class="download-list">
                                            <ul>
                                                <li><i class="fal fa-check"></i>The applicant should be a Startup registered with the Karnataka Startup Cell with a valid Karnataka Startup Cell registration number. Additionally, the startup should be incubated, physically or virtually.</li>
                                                <li><i class="fal fa-check"></i>Only patents that have been filed by a startup within validity of this Policy (from the date of publish of GO) will be eligible to claim this reimbursement.</li>
                                                <li><i class="fal fa-check"></i>Patents that are created for a technology based service or product or uses technology for enhancing functionality or reach of an existing product or service are eligible.</li>
                                                <li><i class="fal fa-check"></i>The applicant should have already filed or been granted a patent with the concerned authority. The applicant should have paid the mandatory Government fees/attorney fees in this regard.</li>
                                                <li><i class="fal fa-check"></i>The eligible startups will submit the application in the prescribed format along with the documents mentioned in the format to the Karnataka Startup Cell as follows:</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="download-text">
                                       <span>Application for reimbursement Post Filing of Patent:</span>
                                        <p>Applicant should have filed for the patent for which reimbursement is being claimed. The Applicant may claim reimbursement towards fees paid to the concerned authority and legal charges, if any (drafting/consultation). The reimbursement shall be made on a one-time basis and shall be availed only once for the particular patent application. Applicant to mandatorily fill and submit relevant documents along with Annexure I – Form A and B in the prescribed format.</p>
                                    </div>
                                    <div class="download-text">
                                       <span>Application for reimbursement Post Grant of Patent:</span>
                                       <p>Applicant should have already been granted the patent for which reimbursement is claimed and should have already claimed reimbursement of costs incurred post filing of the patent under clause 13.1.5(1). Applicant may claim reimbursement towards fees paid to the concerned authority and legal charges, if any (drafting/consultation). Applicant to mandatorily fill and submit relevant documents along with Annexure I – Form A and B in the prescribed format. Applicant shall not be entitled to reimbursement under this provision in case Applicant has received reimbursement of Rs. 2 Lakhs for a domestic patent filing and/or Rs. 10 Lakh for foreign patent filing</p>
                                    </div>
                                    <div class="download-text">
                                       <span>Application for reimbursement Post Filing and Post Grant of Patent simultaneously:</span>
                                       <p>Applicant should have been granted the patent for which reimbursement is being claimed and should not have claimed reimbursement for the same previously. Applicant may claim reimbursement towards fees paid to the concerned authority and legal charges, if any (drafting/consultation). Applicant to mandatorily fill and submit relevant documents along with Annexure I – Form A, B and C in the prescribed format. Applicant shall be eligible to reimbursement up to Rs. 2 Lakh for an Indian Patent and up to Rs. 10 Lakh for a foreign Patent.</p>
                                    </div>
                                    <div class="downloas-list-wp">
                                        <h5>Mandatory Documents :</h5>
                                        <div class="download-list">
                                            <ul>
                                                <li><i class="fal fa-check"></i>KBITS Registration No.</li>
                                                <li><i class="fal fa-check"></i>Duly filled forms as applicable and Annexure I &II</li>
                                                <li><i class="fal fa-check"></i>Duly filled forms and Annexure –I, II and III if applying through a GoK supported Incubator.</li>
                                                <li><i class="fal fa-check"></i>A copy of the patent filed at the appropriate authority.</li>
                                                <li><i class="fal fa-check"></i>Certificate of Patent Grant from Patent Office as applicable.</li>
                                                <li><i class="fal fa-check"></i>Detailed statement of expenses incurred towards the Patent Registration along with the copies of invoices & receipts from the patent authority and legal counsel as applicable.</li>
                                                <li><i class="fal fa-check"></i>All Invoices submitted by the appropriate Patent Authority towards Govt. fees and towards legal agents.</li>
                                                <li><i class="fal fa-check"></i>The certificate of Patent with valid serial number must be furnished and valid form 27 to be enclosed.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="download-text">
                                       <p>On receipt of all necessary documents, KITS will duly analyze the application for eligibility. Post review & assessment of the Application, KITS will arrive at the quantum of reimbursement due and payable. The Managing Director, KBITS will finally sanction the eligible amount for reimbursement and the decision shall be deemed final in this regard. Reimbursement amount will be released / disbursed on the seniority basis depending upon the Budget allotment of the State Government.</p>
                                    </div>
                                    <div class="download-btn">
                                        <a href="#">Apply now <i class="fal fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    download-area-end-->

    <!-- footer-area-start -->

    <div class="footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="#"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="footer-list-fx">
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Get started</a></li>
                                            <li><a href="#">Booster kit</a></li>
                                            <li><a href="#">Karnataka Startup cell</a></li>
                                            <li><a href="#">K-Tech hub</a></li>
                                            <li><a href="#">IP Facilitation</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Programs</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Elevate</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Startups</a></li>
                                            <li><a href="#" Incubators></a></li>
                                            <li><a href="#">Investors</a></li>
                                            <li><a href="#">Mentors</a></li>
                                            <li><a href="#">Our partners</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Media</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">News & Events</a></li>
                                            <li><a href="#">Gallery</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Policies & Schemes</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Karnataka Startup Policy</a></li>
                                            <li><a href="#">Operational Guidelines</a></li>
                                            <li><a href="#">Self Certification</a></li>
                                            <li><a href="#">Other Govt Schemes</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Grievances</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Raise Complaint</a></li>
                                            <li><a href="#">Status Check</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>About us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About StartupKarnataka</a></li>
                                            <li><a href="#">Success Stories</a></li>
                                            <li><a href="#">Vision Group</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Funding</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About K-Startup Funding</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Head office</p>
                                    <div class="list uut">
                                        <ul>
                                            <li><a href="#">BMTC – Central Offices Building,</a></li>
                                            <li><a href="#">TTMC ‘B’ Block, 4th Floor,</a></li>
                                            <li><a href="#">Shanthinagar,KH Road,</a></li>
                                            <li><a href="#">Bengaluru 560 027</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Email us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">startupcell@karnataka.gov.in</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Connect now</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">080-22632626 , +91-80-22231007</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Timings</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">10 am - 7 pm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right-wrap">
                        <div class="copy-right-left">
                            <div class="copy-right-text">
                                <p>© KITS 2021, All Rights Reserved</p>
                            </div>
                            <div class="copyright-menu">
                                <ul>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Total Views : <span>65,3461</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="copy-right-icon">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer-area-end -->





    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/Popper.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.nice-select.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script>
        $('select').niceSelect();

    </script>
    <script src="assets/js/main.js"></script>



</body>

</html>
