<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title Here</title>



    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/all.min.css" rel="stylesheet">
    <link href="assets/css/fontawesome.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/default.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>

<body>
    <div class="offcanva">
        <div class="cross">
            <a href="#"><i class="fal fa-times"></i></a>
        </div>
        <div class="offcanva-menu">
            <ul>
                <li><a href="#">Startup kit</a>
                </li>
                <li><a href="#">Funding</a></li>
                <li><a href="#">Network</a></li>
                <li><a href="#">Programs</a></li>
                <li><a href="#">Apply for Elevate</a></li>
            </ul>
        </div>
    </div>
    <div class="overlay"></div>


    <!--    header-area-start-->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-fl">
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="header-bar ttyr">
                            <a href="#"><img src="assets/img/bar.png" alt=""></a>
                        </div>
                        <div class="header-menu">
                            <ul>
                                <li><a href="#">Startup kit</a>
                                </li>
                                <li><a href="#">Funding</a></li>
                                <li><a href="#">Network</a></li>
                                <li><a href="#">Programs</a></li>
                                <li><a href="#">Apply for Elevate</a></li>
                                <li><a href="#"></a></li>
                            </ul>
                            <div class="header-btn">
                                <a href="#" class="theme-btn">Register/Login</a>
                            </div>
                            <div class="header-bar">
                                <a href="#"><img src="assets/img/bar.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    header-area-end-->

    <!-- flip-area-start -->

    <div class="flip-area" style="background-image: url(assets/img/start-up/fl-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="flip-wrap">
                        <div class="flip-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Network</a></li>
                                <li><a href="#">Startups</a></li>
                                <li><a href="#">Flipkart</a></li>
                            </ul>
                        </div>
                        <div class="flip-content">
                            <h2>Walmart</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            </p>
                            <div class="flip-btn-fx">
                                <div class="single-btn">
                                    <a href="#" type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">Connect</a>
                                </div>
                                <div class="video-btn">
                                    <a href="#"><span></span> Watch Video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- flip-area-end -->

    <!-- about-area-start -->

    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-wrap">
                        <div class="about-link">
                            <a href="#">Introduction</a>
                        </div>
                        <div class="about-hdn-fx">
                            <div class="about-title">
                                <h2>About Walmart</h2>
                                <img src="assets/img/start-up/f.png" alt="">
                            </div>
                            <div class="about-heding-icon">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                        </div>
                        <div class="about-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. <br> Adipiscing commodo elit at imperdiet dui
                                accumsan. Vulputate enim nulla aliquet porttitor. Ut porttitor leo a diam sollicitudin.
                                <br> Imperdiet proin </p>
                        </div>
                        <div class="table-wrap">
                            <div class="tabl-wd">
                                <div class="tabl-sc">
                                 <table class="table table-bordered">
                                     <tbody>
                                         <tr>
                                             <td>
                                                 <div class="tb-linl">
                                                     <a href="#">Industry</a>
                                                 </div>
                                                 <div class="table-text">
                                                     <p>Food & Beverages</p>
                                                 </div>
                                             </td>
                                             <td>
                                                 <div class="tb-linl">
                                                     <a href="#">Industry</a>
                                                 </div>
                                                 <div class="table-text">
                                                     <p>Food & Beverages</p>
                                                 </div>
                                             </td>
                                             <td>
                                                 <div class="tb-linl">
                                                     <a href="#">Industry</a>
                                                 </div>
                                                 <div class="table-text">
                                                     <p>Food & Beverages</p>
                                                 </div>
                                             </td>
                                             <td>
                                                 <div class="tb-linl">
                                                     <a href="#">Industry</a>
                                                 </div>
                                                 <div class="table-text">
                                                     <p>Food & Beverages</p>
                                                 </div>
                                             </td>
                                             <td>
                                                 <div class="tb-linl">
                                                     <a href="#">Industry</a>
                                                 </div>
                                                 <div class="table-text">
                                                     <p>Food & Beverages</p>
                                                 </div>
                                             </td>
                                         </tr>
     
                                     </tbody>
                                 </table>
                                </div>
                            </div>
                         </div>
                        <div class="brand-wrap">
                            <div class="brand-fx">
                                <div class="single-brand">
                                    <a href="#"><img src="assets/img/start-up/y1.png" alt=""></a>
                                </div>
                                <div class="single-brand">
                                    <a href="#"><img src="assets/img/start-up/y2.png" alt=""></a>
                                </div>
                                <div class="single-brand">
                                    <a href="#"><img src="assets/img/start-up/y3.png" alt=""></a>
                                </div>
                                <div class="single-brand">
                                    <a href="#"><img src="assets/img/start-up/y4.png" alt=""></a>
                                </div>
                                <div class="single-brand">
                                    <a href="#"><img src="assets/img/start-up/y1.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- about-area-end -->

    <!-- focus-area-start -->

    <div class="focus-area" style="background-image: url(assets/img/start-up/focus-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="focus-wrap">
                        <div class="product-title focus-toitle">
                            <a href="#">My Reach</a>
                            <h3>Focus Industries</h3>
                        </div>
                        <div class="focus-btn-fx">
                            <div class="focus-single-btn">
                                <a href="#">Digital innovation</a>
                            </div>
                            <div class="focus-single-btn">
                                <a href="#">Agriculture</a>
                            </div>
                            <div class="focus-single-btn">
                                <a href="#">Finance</a>
                            </div>
                            <div class="focus-single-btn">
                                <a href="#">Biotechnology</a>
                            </div>
                            <div class="focus-single-btn">
                                <a href="#">E-commerce</a>
                            </div>
                            <div class="focus-single-btn">
                                <a href="#">Medical Devices</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- focus-area-end -->


    <!-- invst-area-start -->

    <div class="invest-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="invet-wrap">
                        <div class="product-title">
                            <a href="#">My Spotlight</a>
                            <h3>Investments</h3>
                        </div>
                        <div class="invest-singlw">
                            <div class="table-wrap srs">
                                <table class="table table-bordered mar">
                                    <tbody>
                                        <tr class="tre">
                                            <td class="align-middle tb-wds">
                                               <div class="inv-img">
                                                <img src="assets/img/start-up/y1.png" alt="">
                                               </div>
                                            </td>
                                            <td class="align-middle tb-wd-2">
                                                <div class="tb-linl">
                                                    <a href="#">Invested Year</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Invested in the year 2019</p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-3">
                                                <div class="tb-linl">
                                                    <a href="#">Founders</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Mursal Hedayat , Guillemette <br> Dejean</p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-4">
                                                <div class="tb-linl">
                                                    <a href="#">About</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do </p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-5">
                                                <div class="focus-icn">
                                                    <a href="#"><i class="fal fa-external-link-alt"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="table-wrap srs">
                                <table class="table table-bordered mar">
                                    <tbody>
                                        <tr class="tre">
                                            <td class="align-middle tb-wd">
                                               <img src="assets/img/start-up/y2.png" alt="">
                                            </td>
                                            <td class="align-middle tb-wd-2">
                                                <div class="tb-linl">
                                                    <a href="#">Invested Year</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Invested in the year 2019</p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-3">
                                                <div class="tb-linl">
                                                    <a href="#">Founders</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Mursal Hedayat , Guillemette <br> Dejean</p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-4">
                                                <div class="tb-linl">
                                                    <a href="#">About</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do </p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-5">
                                                <div class="focus-icn">
                                                    <a href="#"><i class="fal fa-external-link-alt"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="table-wrap srs">
                                <table class="table table-bordered mar">
                                    <tbody>
                                        <tr class="tre">
                                            <td class="align-middle tb-wd">
                                               <img src="assets/img/start-up/y3.png" alt="">
                                            </td>
                                            <td class="align-middle tb-wd-2">
                                                <div class="tb-linl">
                                                    <a href="#">Invested Year</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Invested in the year 2019</p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-3">
                                                <div class="tb-linl">
                                                    <a href="#">Founders</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Mursal Hedayat , Guillemette <br> Dejean</p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-4">
                                                <div class="tb-linl">
                                                    <a href="#">About</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do </p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-5">
                                                <div class="focus-icn">
                                                    <a href="#"><i class="fal fa-external-link-alt"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="table-wrap srs">
                                <table class="table table-bordered mar">
                                    <tbody>
                                        <tr class="tre">
                                            <td class="align-middle tb-wd">
                                               <img src="assets/img/start-up/y4.png" alt="">
                                            </td>
                                            <td class="align-middle tb-wd-2">
                                                <div class="tb-linl">
                                                    <a href="#">Invested Year</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Invested in the year 2019</p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-3">
                                                <div class="tb-linl">
                                                    <a href="#">Founders</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Mursal Hedayat , Guillemette <br> Dejean</p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-4">
                                                <div class="tb-linl">
                                                    <a href="#">About</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do </p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-5">
                                                <div class="focus-icn">
                                                    <a href="#"><i class="fal fa-external-link-alt"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="table-wrap srs">
                                <table class="table table-bordered marn">
                                    <tbody>
                                        <tr class="tre">
                                            <td class="align-middle tb-wd">
                                               <img src="assets/img/start-up/y5.png" alt="">
                                            </td>
                                            <td class="align-middle tb-wd-2">
                                                <div class="tb-linl">
                                                    <a href="#">Invested Year</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Invested in the year 2019</p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-3">
                                                <div class="tb-linl">
                                                    <a href="#">Founders</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Mursal Hedayat , Guillemette <br> Dejean</p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-4">
                                                <div class="tb-linl">
                                                    <a href="#">About</a>
                                                </div>
                                                <div class="table-text">
                                                    <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do </p>
                                                </div>
                                            </td>
                                            <td class="align-middle tb-wd-5">
                                                <div class="focus-icn">
                                                    <a class="bf" href="#"><i class="fal fa-external-link-alt"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- invst-area-end -->



    <!-- footer-area-start -->

    <div class="footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="#"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="footer-list-fx">
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Get started</a></li>
                                            <li><a href="#">Booster kit</a></li>
                                            <li><a href="#">Karnataka Startup cell</a></li>
                                            <li><a href="#">K-Tech hub</a></li>
                                            <li><a href="#">IP Facilitation</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Programs</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Elevate</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Startups</a></li>
                                            <li><a href="#" Incubators></a></li>
                                            <li><a href="#">Investors</a></li>
                                            <li><a href="#">Mentors</a></li>
                                            <li><a href="#">Our partners</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Media</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">News & Events</a></li>
                                            <li><a href="#">Gallery</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Policies & Schemes</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Karnataka Startup Policy</a></li>
                                            <li><a href="#">Operational Guidelines</a></li>
                                            <li><a href="#">Self Certification</a></li>
                                            <li><a href="#">Other Govt Schemes</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Grievances</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Raise Complaint</a></li>
                                            <li><a href="#">Status Check</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>About us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About StartupKarnataka</a></li>
                                            <li><a href="#">Success Stories</a></li>
                                            <li><a href="#">Vision Group</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Funding</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About K-Startup Funding</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Head office</p>
                                    <div class="list uut">
                                        <ul>
                                            <li><a href="#">BMTC – Central Offices Building,</a></li>
                                            <li><a href="#">TTMC ‘B’ Block, 4th Floor,</a></li>
                                            <li><a href="#">Shanthinagar,KH Road,</a></li>
                                            <li><a href="#">Bengaluru 560 027</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Email us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">startupcell@karnataka.gov.in</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Connect now</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">080-22632626 , +91-80-22231007</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Timings</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">10 am - 7 pm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right-wrap">
                        <div class="copy-right-left">
                            <div class="copy-right-text">
                                <p>© KITS 2021, All Rights Reserved</p>
                            </div>
                            <div class="copyright-menu">
                                <ul>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Total Views : <span>65,3461</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="copy-right-icon">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer-area-end -->

    <!-- modal-area-style-start -->

    <div class="startuo-modal">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>
                    <div class="modal-body">
                        <div class="start-modal-wrap">
                            <div class="product-title start-modal">
                                <h3>Products and services</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut</p>
                            </div>
                            <div class="modal-form">
                                <div class="single-form">
                                    <label for="#">Company Name*</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">full name *</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">Email *</label>
                                    <input type="Email" placeholder="Enter text here" required>
                                </div>
                                <div class="single-form">
                                    <label for="#">Mobile number *</label>
                                    <input type="text" placeholder="Enter text here" required>
                                </div>
                                <div class="modal-contact-btn">
                                    <button>Submit Request<i class="fal fa-long-arrow-right"></i></button>
                                </div>
                                <div class="privicy-text">
                                    <p>By clicking on submit request you agree to our <a href="#">Terms & Conditions</a>
                                        and accordance with our <a href="#">Privacy Policy</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal-area-style-end -->






    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/Popper.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.nice-select.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script>
        $('select').niceSelect();
    </script>
    <script src="assets/js/main.js"></script>



</body>

</html>