<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title Here</title>



    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/all.min.css" rel="stylesheet">
    <link href="assets/css/fontawesome.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/default.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>

<body>

<!-- offcanva -->
<div class="offcanva">
    <div class="cross">
        <a href="#"><i class="fal fa-times"></i></a>
    </div>
    <div class="offcanva-menu">
        <ul>
            <li><a href="#">Startup kit</a>
            </li>
            <li><a href="#">Funding</a></li>
            <li><a href="#">Network</a></li>
            <li><a href="#">Programs</a></li>
            <li><a href="#">Apply for Elevate</a></li>
        </ul>
    </div>
</div>
<div class="overlay"></div>

    <!--    header-area-start-->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-fl">
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="header-bar ttyr">
                            <a href="#"><img src="assets/img/bar.png" alt=""></a>
                        </div>
                        <div class="header-menu mesia-manu">
                            <ul>
                                <li><a href="#">Startup kit <i class="fal fa-angle-down"></i></a>
                                </li>
                                <li><a href="#">Funding <i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Network <i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Programs <i class="fal fa-angle-down"></i></a></li>
                                <li><a href="#">Apply for Elevate <i class="fal fa-angle-down"></i></a></li>
                            </ul>
                            <div class="header-btn">
                                <a href="#" class="theme-btn">Register/Login</a>
                            </div>
                            <div class="header-bar">
                                <a href="#"><img src="assets/img/bar.png" alt=""></a>
                            </div>
                            <div class="header-bar ttyr">
                                <a href="#"><img src="assets/img/bar.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    header-area-end-->

    <!--hero-area-start-->
    <div class="hero-area" style="background-image: url(assets/img/media/hero.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-containt">
                        <div class="hero-top-text">
                            <h3>Start Networking</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                        <div class="hero-tab">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                        role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                                        role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab2" data-toggle="pill"
                                        href="#pills-contact2" role="tab" aria-controls="pills-contact2"
                                        aria-selected="false">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--hero-area-end-->

    <!-- industry-area-start -->

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
           
            <div class="media-area">
                <div class="container">
                   <div class="row">
                       <div class="col-lg-3">
                           <div class="meadia-evant-wrap">
                               <div class="media-event-img">
                                   <img src="assets/img/media-event/m1.png" alt="">
                                   <span>26th Apr, 10 AM</span>
                               </div>
                               <div class="media-even-content">
                                   <h2>Startup Funding in Karnataka: How to Raise Money</h2>
                                   <span>MAY 05, 2021 - WEBINAR</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                   <a href="#">View details <i class="fal fa-long-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="meadia-evant-wrap">
                               <div class="media-event-img">
                                   <img src="assets/img/media-event/m2.png" alt="">
                                   <span>26th Apr, 10 AM</span>
                               </div>
                               <div class="media-even-content">
                                   <h2>Blockchain And Entrepreneurship</h2>
                                   <span>MAY 05, 2021 - WEBINAR</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                   <a href="#">View details <i class="fal fa-long-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="meadia-evant-wrap">
                               <div class="media-event-img">
                                   <img src="assets/img/media-event/m3.png" alt="">
                                   <span>26th Apr, 10 AM</span>
                               </div>
                               <div class="media-even-content">
                                   <h2>Startup Funding in Karnataka: How to Raise Money</h2>
                                   <span>MAY 05, 2021 - WEBINAR</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                   <a href="#">View details <i class="fal fa-long-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="meadia-evant-wrap">
                               <div class="media-event-img">
                                   <img src="assets/img/media-event/m4.png" alt="">
                                   <span>26th Apr, 10 AM</span>
                               </div>
                               <div class="media-even-content">
                                   <h2>Startup Funding in Karnataka: How to Raise Money</h2>
                                   <span>MAY 05, 2021 - WEBINAR</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                   <a href="#">View details <i class="fal fa-long-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="meadia-evant-wrap">
                               <div class="media-event-img">
                                   <img src="assets/img/media-event/m5.png" alt="">
                                   <span>26th Apr, 10 AM</span>
                               </div>
                               <div class="media-even-content">
                                   <h2>Startup Funding in Karnataka: How to Raise Money</h2>
                                   <span>MAY 05, 2021 - WEBINAR</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                   <a href="#">View details <i class="fal fa-long-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="meadia-evant-wrap">
                               <div class="media-event-img">
                                   <img src="assets/img/media-event/m6.png" alt="">
                                   <span>26th Apr, 10 AM</span>
                               </div>
                               <div class="media-even-content">
                                   <h2>Startup Funding in Karnataka: How to Raise Money</h2>
                                   <span>MAY 05, 2021 - WEBINAR</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                   <a href="#">View details <i class="fal fa-long-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="meadia-evant-wrap">
                               <div class="media-event-img">
                                   <img src="assets/img/media-event/m7.png" alt="">
                                   <span>26th Apr, 10 AM</span>
                               </div>
                               <div class="media-even-content">
                                   <h2>Startup Funding in Karnataka: How to Raise Money</h2>
                                   <span>MAY 05, 2021 - WEBINAR</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                   <a href="#">View details <i class="fal fa-long-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="meadia-evant-wrap">
                               <div class="media-event-img">
                                   <img src="assets/img/media-event/m8.png" alt="">
                                   <span>26th Apr, 10 AM</span>
                               </div>
                               <div class="media-even-content">
                                   <h2>Startup Funding in Karnataka: How to Raise Money</h2>
                                   <span>MAY 05, 2021 - WEBINAR</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                   <a href="#">View details <i class="fal fa-long-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="meadia-evant-wrap">
                               <div class="media-event-img">
                                   <img src="assets/img/media-event/m9.png" alt="">
                                   <span>26th Apr, 10 AM</span>
                               </div>
                               <div class="media-even-content">
                                   <h2>Startup Funding in Karnataka: How to Raise Money</h2>
                                   <span>MAY 05, 2021 - WEBINAR</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                   <a href="#">View details <i class="fal fa-long-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="meadia-evant-wrap">
                               <div class="media-event-img">
                                   <img src="assets/img/media-event/m10.png" alt="">
                                   <span>26th Apr, 10 AM</span>
                               </div>
                               <div class="media-even-content">
                                   <h2>Startup Funding in Karnataka: How to Raise Money</h2>
                                   <span>MAY 05, 2021 - WEBINAR</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                   <a href="#">View details <i class="fal fa-long-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="meadia-evant-wrap">
                               <div class="media-event-img">
                                   <img src="assets/img/media-event/m11.png" alt="">
                                   <span>26th Apr, 10 AM</span>
                               </div>
                               <div class="media-even-content">
                                   <h2>Startup Funding in Karnataka: How to Raise Money</h2>
                                   <span>MAY 05, 2021 - WEBINAR</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                   <a href="#">View details <i class="fal fa-long-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="meadia-evant-wrap">
                               <div class="media-event-img">
                                   <img src="assets/img/media-event/m12.png" alt="">
                                   <span>26th Apr, 10 AM</span>
                               </div>
                               <div class="media-even-content">
                                   <h2>Startup Funding in Karnataka: How to Raise Money</h2>
                                   <span>MAY 05, 2021 - WEBINAR</span>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                                   <a href="#">View details <i class="fal fa-long-arrow-right"></i></a>
                               </div>
                           </div>
                       </div>
                   </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="loding">
                                <a href="#"><img src="assets/img/media/loading.png" alt=""> Hang on, loading content</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        
        </div>

        <div class="tab-pane fade" id="pills-contact2" role="tabpanel" aria-labelledby="pills-contact-tab">
           
        </div>
        
    </div>

    <!-- industry-area-end -->


    <!-- footer-area-start -->

    <div class="footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="#"><img src="assets/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="footer-list-fx">
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Get started</a></li>
                                            <li><a href="#">Booster kit</a></li>
                                            <li><a href="#">Karnataka Startup cell</a></li>
                                            <li><a href="#">K-Tech hub</a></li>
                                            <li><a href="#">IP Facilitation</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Programs</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Elevate</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Network</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Startups</a></li>
                                            <li><a href="#" Incubators></a></li>
                                            <li><a href="#">Investors</a></li>
                                            <li><a href="#">Mentors</a></li>
                                            <li><a href="#">Our partners</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Media</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">News & Events</a></li>
                                            <li><a href="#">Gallery</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Policies & Schemes</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Karnataka Startup Policy</a></li>
                                            <li><a href="#">Operational Guidelines</a></li>
                                            <li><a href="#">Self Certification</a></li>
                                            <li><a href="#">Other Govt Schemes</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Grievances</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">Raise Complaint</a></li>
                                            <li><a href="#">Status Check</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>About us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About StartupKarnataka</a></li>
                                            <li><a href="#">Success Stories</a></li>
                                            <li><a href="#">Vision Group</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="#">FAQ’s</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp">
                                    <p>Funding</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">About K-Startup Funding</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-list">
                                <div class="list-wp hhj">
                                    <p>Head office</p>
                                    <div class="list uut">
                                        <ul>
                                            <li><a href="#">BMTC – Central Offices Building,</a></li>
                                            <li><a href="#">TTMC ‘B’ Block, 4th Floor,</a></li>
                                            <li><a href="#">Shanthinagar,KH Road,</a></li>
                                            <li><a href="#">Bengaluru 560 027</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Email us</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">startupcell@karnataka.gov.in</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Connect now</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">080-22632626 , +91-80-22231007</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="list-wp ggj">
                                    <p>Timings</p>
                                    <div class="list">
                                        <ul>
                                            <li><a href="#">10 am - 7 pm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right-wrap">
                        <div class="copy-right-left">
                            <div class="copy-right-text">
                                <p>© KITS 2021, All Rights Reserved</p>
                            </div>
                            <div class="copyright-menu">
                                <ul>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Total Views : <span>65,3461</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="copy-right-icon">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer-area-end -->





    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/Popper.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.nice-select.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script>
        $('select').niceSelect();
    </script>
    <script src="assets/js/main.js"></script>



</body>

</html>